<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="static/c/demo.css" />
		<link rel="stylesheet" href="static/c/style.css" />
		<link rel="stylesheet" href="static/c/add.css" />
		<script type="text/javascript" src="static/j/jquery.1.7.1.min.js" ></script>
	</head>
	<body>
		<div class="wrapper index_wrap">
			<div class="bg_head"></div>
			<div class="mainWrap">
				<div class="bannertit">
					<div class="phold phold55"></div>
					<img src="static/i/images/bannertit.png" />
					<div class="phold phold30"></div>
					<div class="cl abtn_wrap">
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active1"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active2"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active3"></a>
						</div>
					</div>
				</div>
				<div class="phold phold30"></div>
				<!--内容区-->
				<div class="con_wrap">
					<div class="tab_wrap cl">
						<div class="tab tab_1 active"><a></a></div>
						<div class="tab tab_2"><a></a></div>
						<div class="tab tab_3"><a></a></div>
					</div>
					<div class="tab_line"></div>
					<div class="phold phold40"></div>
				</div>
				<!--copybottom-->
				<div class="copybgsg"></div>
			</div>
		</div>
	</body>
</html>
