<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="static/c/demo.css" />
		<link rel="stylesheet" href="static/c/style.css" />
		<link rel="stylesheet" href="static/c/add.css" />
		<script type="text/javascript" src="static/j/jquery.1.7.1.min.js" ></script>
	</head>
	<body>
		<div class="wrapper index_wrap">
			<div class="bg_head"></div>
			<div class="mainWrap">
				<div class="bannertit">
					<div class="phold phold55"></div>
					<img src="static/i/images/bannertit.png" />
					<div class="phold phold30"></div>
					<div class="cl abtn_wrap">
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active1"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active2"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active3"></a>
						</div>
					</div>
				</div>
				<div class="phold phold30"></div>
				<!--内容区-->
				<div class="con_wrap">
					<div class="phold phold20"></div>
					<img src="static/i/images/font_upskin.png" class="imgblock" />
					<form>
						<div class="phold phold30"></div>
						<div class="form_wrap">
							<div class="form_box">
								<form>
									<div class="phold phold20"></div>
									<div class="form_tit">个人信息：</div>
									<div class="phold phold25"></div>
									<div class="form_con cl">
										<div class="form_infor fl">
											昵称：
										</div>
										<div class="form_input fl">
											<input class="input_text" />
										</div>
									</div>
									<div class="form_con cl">
										<div class="form_infor fl">
											手机：
										</div>
										<div class="form_input fl">
											<input class="input_text" />
										</div>
									</div>
									<div class="form_con cl">
										<div class="form_infor fl">
											QQ：
										</div>
										<div class="form_input fl">
											<input class="input_text" />
										</div>
									</div>
									<div class="form_con cl">
										<div class="form_infor fl">
											邮箱：
										</div>
										<div class="form_input fl">
											<input class="input_text" />
										</div>
									</div>
									<div class="phold phold25"></div>
									<div class="form_tit">皮肤信息：</div>
									<div class="phold phold25"></div>
									<div class="form_con cl">
										<div class="form_infor fl">
											名称：
										</div>
										<div class="form_input fl">
											<input class="input_text" placeholder="限定在20字符（10个汉字）以内" />
										</div>
									</div>
									<div class="form_con cl">
										<div class="form_infor fl">
											简称：
										</div>
										<div class="form_input fl">
											<input class="input_text" placeholder="限定在10字符（5个汉字）以内"/>
										</div>
									</div>
									<div class="form_con cl">
										<div class="form_infor fl">
											上传：
										</div>
										<div class="form_input fl">
											<p class="form_p1">宽度1080px，高度881px，每张不超过3MB</p>
											<div class="cl">
												<div class="add_file_box">
													<input type="file" class="input_file"/>
													<p class="p_file">上传九键皮肤文件</p>
												</div>
												<div class="add_file_box">
													<input type="file" class="input_file"/>
													<p class="p_file">上传二十六键皮肤文件</p>
												</div>
											</div>
										</div>
									</div>
								
							</div>
						</div>
						<div class="phold phold40"></div>
						<div class="cl form_btn_box">
							<a class="a_btn a_btn_backindex fl"></a>
							<input type="submit"  class="a_btn a_btn_sub fr" value=""/>
						</div>
					</form>
				</div>
				<!--copybottom-->
				<div class="copybgsg"></div>
			</div>
		</div>
	</body>
</html>
