.index_wrap{
	background: url(../i/alibg.png) no-repeat 50% 0;
}
.btn_tb,.btnlr {
	background-repeat: no-repeat;
	background-position:0 0 ;
}
.btn_tb:hover{
	background-position:0 bottom;
}
.btn_lr:hover{
	background-repeat: no-repeat;
	background-position: right 0;
}
.right_fixed{
	position:fixed ;
	width: 151px;
	height: 460px;
	background: url(../i/rightfixed.png) no-repeat 0 0;
	top: 160px;
	left: 50%;
	margin-left: 560px;
	z-index:888;
}
.right_pc,.right_3g{
	position: absolute;
	width: 74px;
	height: 78px;
	background-image: url(../i/guifanr.png);
	right: 30px;
}

.right_pc{
	background-position: 0 0;
	top: 40px;
}
.right_pc:hover{
	background-position: right 0;
}
.right_3g{
	background-position:0 bottom;
	top: 126px;
}
.right_3g:hover{
	background-position:right bottom;
}
.footer{
	font-size: 12px;
	color: #0b1b50;
	line-height: 25px;
	text-align: center;
	padding:50px 0 ;
}
/*mask*/
.maskbox{
	display: none;
}
.maskbg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0 ;
	left: 0;
	background: #000;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
	
}
.maskdiv{
	position: absolute;
	width: 780px;
	padding: 33px 22px 60px 40px;
	background: #FFFFFF;
	top:130px ;
	left: 50%;
	margin-left: -420px;
}
.xing1{
	position: absolute;
	width: 90px;
	height: 51px;
	background: url(../i/xing1.png) no-repeat 0 0;
	top: -7px;
	left: -15px;
}
.xing2{
	position: absolute;
	width: 95px;
	height: 51px;
	background: url(../i/xing2.png) no-repeat 0 0 ;
	bottom: -7px ;
	right: -15px;
}
.close{
	position: absolute;
	width: 122px;
	height: 66px;
	background: url(../i/close.png) no-repeat 0 0;
	right: -27px;
	top: 15px;
	
}
.mask_con{
	margin-top: 25px;
}
.mask_con h5{
	font-size: 18px;
	line-height: 25px;
	color: #313131;
}
.formdiv{
	margin-top: 30px;
}
.formdiv h2{
	font-size: 30px;
	line-height: 62px;
	color: #202020;
	font-family: fangzheng;
}
.inputdiv,.formdiv h5{
	font-size: 24px;
	line-height: 40px;
	color: #202020;
	margin-bottom: 12px;
}
.inputdiv span{
	display: inline-block;
	width:75px ;
}
.autor_info{
	float: left;
	margin-right: 55px;
}
.input_text{
	height: 38px;
	border: 1px solid #999999;
	list-style: none;
	padding-left: 10px;
	font-size: 14px;
	color: #999999;
}
.input_text1{
	width: 188px;
}
.input_text2{
	width: 344px;
}
/*--end mask*/
.tit_wrap{
	width: 1027px;
	height: 329px;
	margin: 0 auto;
}
.btn_wrap{
	text-align: center;
}
.btn_wrap a{
	display: inline-block;
}

.uppc{
	width: 372px;
	height: 95px;
	background-image:url(../i/uppc.png) ;
}
.up3g{
	width: 372px;
	height: 95px;
	background-image:url(../i/up3g.png) ;
	cursor:pointer;
}
.activeguifan{
	width: 126px;
	height: 90px;
	background-image:url(../i/guize.png) ;
}
.btn_submit{
	height: 91px;
	width: 188px;
	background-image:url(../i/submit.png) ;
	margin: 35px auto 5px;
	cursor:pointer;
	border: none;
    background-color: #ffffff;
    display: block;
}
.g3guifan{
	width: 250px;
	height: 60px;
	background-image: url(../i/guifan.png);
}
.pcguifan{
	width: 250px;
	height: 60px;
	background-image: url(../i/guifan.png);
	background-position: right 0;
} 
.pcguifan:hover{
	background-position: right bottom;
}
.uplode{
	height: 47px;
	width: 168px;
	background-image: url(../i/uplode.png);
}
.img_down{
	height: 30px;
	width: 93px;
	background-image: url(../i/downlode.png);
	position: absolute;
	top: 19px;
	right: 93px;
}
.img_close{
	height: 30px;
	width: 65px;
	background-image: url(../i/xx.png);
	position: absolute;
	top: 19px;
	right: 18px;
}

.btn_wrap{
	padding: 25px 150px 45px;
}
.wrap_box{
	width: 1125px;
	height: 1752px;
	background: url(../i/indexbg.png) no-repeat 0 0;
	margin: 0 auto;
	padding-top: 40px;
}
.part1_wrap{
	position: relative;
	height: 459px;
}
.jiangpindiv{
	width: 325px;
	height: 226px;
	position: absolute;
	bottom:  0 ;
	right: 90px;
}
.part1_con{
	margin-top:35px ;
	padding-left: 70px;
}
h2.h2_tit{
	color: #ff4646;
	font-size: 36px;
	height: 50px;
	margin-bottom: 10px;
	font-family: fangzheng;
}
h3.h3_tit{
	color: #ff4646;
	font-size: 30px;
	height: 38px;
	margin-bottom: 5px;
	font-family: fangzheng;
}
.part1_con h5{
	color: #313131;
	font-size: 18px;
	line-height: 30px;
}
.part2_wrap h2{
	text-align: center;
	padding: 13px 0;
}
.goodworks{
	padding: 0 100px 0 105px;
}
.works_1{
	width: 651px;
	height: 252px;
}
.works_1l{
	width:307px;
	height: 252px;
	position: relative;
	
}
.skinDloadWrap{
	display: none;
}
.works_1l:hover .skinDloadWrap,.works_2t:hover .skinDloadWrap{
	display: block;
}
.skinDloadWrap,.skin_downbg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.skin_downbg{
	background: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.5;
}
.skin_down{
	position: absolute;
	width: 165px;
	height: 162px;
	top: 30px;
	background: #FFFFFF;
	left: 50%;
	margin-left: -82.5px;
	padding-top: 13px;
	text-align: center;
	font-size: 16px;
	color: #333333;
}
.qr_down{
	width:135px ;
	height: 135px;
	margin: 0 auto;
}
.works_2{
	width: 240px;
	height: 252px;
}
.works_2t{
	width: 240px;
	height: 120px;
	position: relative;
}
.skin_downa{
	position: absolute;
	width: 110px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	top: 50%;
	left: 50%;
	margin-left: -55px;
	margin-top: -15px;
	background: url(../i/btnbg.png) no-repeat 0 0;
}
.skin_downa a{
	color: #666666;
}
.skin_downa span:hover{
	text-decoration:none;
}
.part3_wrap{
	padding-top: 48px;
}
.part3_wraptit{
	position: relative;
}
.more_wrap{
	position: absolute;
	background: url(../i/more.png);
	width: 151px;
	height: 43px;
}
.part3_wraptit .more_wrap{
	right: 142px;
	top: 23px;
}
.skin_makeul{
	padding-left: 105px;
}
.skin_makeul li{
	width: 215px;
	height: 135px;
	overflow: hidden;
	float: left;
	margin-right: 15px;
	margin-top: 15px;
	background: #000000;
}
.part4_wrap{
	padding-top: 58px;
}
.part4_wraptit{
	position: relative;
}
.part4_wraptit .more_wrap{
	top: 23px;
	left: 623px;
}
.part4_works{
	padding-left:105px ;
	padding-top: 22px;
}
.part4_works1ul li{
	width: 222px;
	height: 182px;
	float: left;
	margin-right: 8px;
}
.part4_works2ul{
	margin-top: 14px;
}
.part4_works2ul li{
	width: 222px;
	height: 112px;
	float: left;
	margin-right: 8px;
}
.linkaguifan{
	text-align: center;
	margin: 20px auto;
}
.linkaguifan a{
	display: inline-block;
	margin: 0 25px;
}
/*img弹出*/
.img_skin_big{
	position: fixed;
	width: 900px;
	height: 720px;
	left: 50%;
	top: 50%;
	margin-top: -360px;
	margin-left: -455px;
	background: #3b3b3b;
	display: none;
}
.img_skin_bigimg{
	width: 880px;
	height: 590px;
	border-top:10px solid #1f1f1f;
	border-left:12px solid #1f1f1f;
	border-right:8px solid #1f1f1f;
	border-bottom:8px solid #1f1f1f;
	background: #2f2f2f;
	overflow: hidden;
}
.wrap_awimgbox{
	background: #wrap_awimgbox;
	overflow: hidden;
	width:100%;
	height: 112px;
	position: relative;
}
.imgul_box{
	padding: 14px 5px 0;
	width:840px;
	height: 98px;
	overflow: hidden;
	border-left: 1px solid #1f1f1f;
	border-right: 1px solid #1f1f1f;
	margin: 0 auto;
}
.wrap_awimgul{
}
.wrap_awimgul li{
	float: left;
	width: 130px;
	height: 85px;
	background: #2f2f2f;
	margin: 0 5px;
	margin-bottom: 12px;
	cursor:pointer;
}
.imgulprev,.imgulnext{
	position: absolute;
	display: block;
	width: 23px;
	height: 112px;
	top: 0;
	background-image: url(../i/prevnext.png);
	background-repeat: no-repeat;
	filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.imgulprev:hover,.imgulnext:hover{
	filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.imgulprev{
	border-right: 1px solid #575757;
	left: 0 ;
	background-position: left 50%;
}
.imgulnext{
	border-left: 1px solid #575757;
	right: 0 ;
	background-position: right 50%;
}
@media only screen and (min-width: 100px) and (max-width: 1400px) {
	.right_fixed{
		left: inherit;
		right: 0;
		margin-left: 0;
	}
}
#picViewWrap{
	height:154px;
	margin-top:10px;
	display:none;
}
.success{
	display:inline-block;
	font-size:24px;
	font-family:"微软雅黑";
	color:#eb1111;
}
#picView{
	padding-top:6px;
}
#picView span{
	display:block;
	font-size:16px;
	font-family:"微软雅黑";
	color:#999999;
	line-height:31px;
}
.delete{
	width:86px;
	height:45px;
	margin-top:7px;
	cursor:pointer;
}
.expect{
	width:560px;
	height:58px;
	background:url("../i/expect.png");
	margin:109px auto;
}
.part4_hide{
	display:none;
}