@charset 'utf-8';
*{word-wrap:break-word}
*, body, div, span, ul, li, table, tbody, th, tr, td, img, a, input, select, option, p {margin:0;padding:0}
/*html, body {overflow-x:hidden;width:100%;margin:0 auto;text-align:left;padding:0;-webkit-text-size-adjust:none;font:12px/1.5 "Hiragino Sans GB",微软雅黑,宋体,serif,Arial;color:#666;background-color:#fff}*/
textarea{resize:none}
*,body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset{margin:0;padding:0}
table{empty-cells:show;border-collapse:collapse}
caption,th{text-align:left;font-weight:400}
ul li,.xl li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:1em}
em,cite,i{font-style:normal}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
a img{border:none}
label{cursor:pointer}
img { border:none; }
*:focus{outline:0}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.cl:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cl{zoom:1}
body{ font-family:"Hiragino Sans GB","微软雅黑" ,"宋体"}

.fl{float:left}
.fr{float:right}
.rowLast{margin-right:0}
.colLast{margin-bottom:0}
.cutstr{vertical-align:text-bottom;word-wrap:normal;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;/* Opera */ text-overflow:ellipsis;/* IE, Safari (WebKit) */}
.noer{color:#999;padding:5px;font-size:14px}
.top_con{position:relative;z-index:1000;}

#ajaxwaitid{display:none;position:fixed;_position:absolute;right:0;top:0;z-index:1;padding:0 5px;background:#D00;color:#FFF}
.wrapper{width:100%;min-width:1000px;margin:0 auto;zoom:1;_width:expression((document.documentElement.clientWidth || document.body.clientWidth) < 1000 ? "1000px" : "auto")}

/*top*/
.top{height:40px; width:100%; line-height:40px; background:#3c334a;}
.header{ width:960px; height:40px; padding:0 55px; margin:0 auto;}
.logo{ float:left; display:inline;}
.logo_box{ height:40px; font-size: 0; overflow:hidden}
.logo_box img {padding-top:6px;}
.login{height:40px; float:right; line-height:40px;  }
.login a{font-size:12px; font-family:"宋体"; color:#fff;}
top end

.banner_con{ width:100%; height:586px; position:relative; }
.banner{ height:586px; background:#976ad4 url(../i/banner.png) no-repeat center 0; }
.nav_con{ width:100%; height:204px; background:url(../i/navBg.png) no-repeat center 0; position:absolute; left:0; bottom:-103px; z-index:2; }

/*选项卡按钮 start*/
.page_box{ width:642px;margin:0 auto; height:42px; padding-bottom:72px;}
.page_box ul li{ float:left; display:inline; margin-right:8px; width:42px; height:42px; text-align:center; line-height:42px; background:url(../i/cszp/chooseBtn.png) no-repeat -198px 0;}
.page_box ul li:hover{ background-position:-148px 0; }
.page_box ul li.prev{ width:90px; background:url(../i/cszp/chooseBtn.png) no-repeat 0 0; margin-right:10px; }
.page_box ul li.next{ margin-left:2px; margin-right:0; width:90px; background:url(../i/cszp/chooseBtn.png) no-repeat 0 0; }
.page_box ul li.prev:hover, .page_box ul li.next:hover{ background-position:-248px 0; }
.page_box ul li.active{ background-position:-98px 0; color:#332c4f; }
.page_box a{ display:block; color:#fff; font-size:16px; }
/*选项卡按钮 end*/

/* show notice */
.dialog_notice{min-width:180px;max-width:260px;padding:15px 10px;border:1px solid #ccc;background:#fff;text-align:center}

/* dialog */
.dialog{margin:0 auto;padding:2px;border:1px solid #ddd;background-color:#fff}
.dialog_top, .dialog_cont, .dialog_bot{padding:4px 12px}
.dialog_top{display:block;background-color:#eee;position:relative}
.dialog_top .dialog_title{padding:4px 0;display:inline-block;*display:inline;*zoom:1;font-size:12px;color:#343434;}
.dialog_top .dialog_close{float:none;padding:1px 4px;color:#999;font-size:12px;border:none;background-color:transparent;position:absolute;top:0;right:0;left:auto;cursor:pointer}
.dialog_top .dialog_close:hover{background-color:#ddd}
.dialog_close span{line-height:12px}
.dialog_cont{padding:12px}
.dialog_txt{width:186px;padding:2px 0}
.dialog_item{padding:2px 5px 2px 0}
.dialog_bot{padding-bottom:6px;text-align:left}
.dialog_bot .dialog_btn{padding:0;text-align:left;float:right}
.dialog_btn button{padding:4px 8px;margin:2px 6px 0 0;color:#fff;text-align:center;border:none;background-color:#fca030;cursor:pointer}
.dialog_btn .btn_ok, .dialog_btn .btn_cencel{border:none}
.dialog_confirm{margin:0 auto}

.dialog_input{min-width:270px;*width:270px;margin:0 auto;border:1px solid #ddd;background-color:#fff}
.dialog_prompt{min-width:270px;*width:270px}
.dialog_confirm{min-width:270px;*width:270px}
.dialog_alert{min-width:270px;*width:270px}


.index_wrap{
	width: 100%;
	background:#f7d152  url(../i/images/addbg.png)repeat 0 0;
	min-height: 100%;
}
.bg_head{
	width: 100%;
	height: 1041px;
	min-width: 1000px;
	position: absolute;
	top: 0;
	background: url(../i/images/bg_header.png) no-repeat center 0;
}
.phold55{
	height: 55px;
}
.phold5{
	height: 5px;
}
.phold10{
	height: 10px;
}
.phold15{
	height: 15px;
}
.phold20{
	height: 20px;
}
.phold25{
	height: 25px;
}
.phold30{
	height: 30px;
}
.phold40{
	height: 40px;
}
.phold45{
	height: 45px;
}
.abtn_wrap{
	padding-left: 70px;
}
.abtn_box{
	width: 304px;
	height: 87px;
	float: left;
	margin-right: -20px;
}
.abtn_active{
	width: 224px;
	height: 67px;
	display: block;
	margin: 5px auto 0;
}
.abtn_active:hover{
	width: 304px;
	height: 87px;
	margin: 0;
}
.abtn_active1{
	background: url(../i/images/a_btn_skinr.png) no-repeat 0 0;
	background-size: 100% 100%;
}
.abtn_active2{
	background: url(../i/images/a_btn_upnew.png) no-repeat 0 0;
	background-size: 100% 100%;
}
.abtn_active3{
	background: url(../i/images/a_btn-downsucair.png) no-repeat 0 0;
	background-size: 100% 100%;
}
.con_wrap{
	width: 944px;
	padding: 23px 28px 50px;
	height: auto;
	background: #FFFFFF;
	border-radius: 7px;
}
.tab_wrap{
	padding-left: 132px;
}
.tab{
	width: 162px;
	height: 38px;
	float: left;
	margin-right: 90px;
	cursor: pointer;
}
.tab_1{
	background: url(../i/images/tab1.png) no-repeat right 0;
}
.tab_2{
	background: url(../i/images/tab2.png) no-repeat right 0;
}
.tab_3{
	background: url(../i/images/tab3.png) no-repeat right 0;
}
.tab:hover,.tab.active{
	background-position: 0 0;
}
.tab_line{
	width: 580px;
	height: 19px;
	border-bottom: 1px solid #e6e6e6;
	margin: 0 auto;
}
.p_con{
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-indent:2em;
}
.flow_wrap{
	width: 100%;
	height: 124px;
	background: #f7f7f7 url(../i/images/icon_lc_03.png) no-repeat center center;
	border-radius: 7px;
	position: relative;
}
.time{
	text-align: center;
	width: 170px;
	position: absolute;
	top: 0;
	padding-top: 15px;
}
.time1{
	left: 100px;
}
.time2{
	left: 430px;
}
.time3{
	left: 770px;
}
.p_h3{
	font-size: 18px;
	line-height: 32px;
	color: #666666;
	font-weight: bold;
}
.p_h5{
	font-size: 14px;
	line-height: 24px;
	color: #666666;
}
.ppp{
	line-height: 10px;
}
.prize_ul{
	width: 966px;
}
.prize_ul li{
	float: left;
	width: 300px;
	margin-top: 10px;
	margin-right: 22px;
}
.prize_tit{
	font-size: 22px;
	line-height: 38px;
	color: #666666;
	text-align: center;
}
.prize_img{
	width: 300px;
	height: 262px;
	border-radius: 10px;
	overflow: hidden;
}
.prize_img img{
	display: block;
	width: 100%;
	height: 100%;
}
.p_gz_tit{
	font-size: 18px;
	line-height: 22px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 3px;
}
.p_gz{
	font-size: 14px;
	line-height: 22px;
	color: #666666;
}
.copybgsg{
	width: 700px;
	height: 255px;
	margin: 0 auto;
	background: #f7d152 url(../i/images/font_bottom.png) no-repeat center center;
}
.works_wrap{
	width: 100%;
	overflow: hidden;
}
.works_indexul{
	width: 961px;
}
.works_indexul li{
	width: 303px;
	height: 247px;
	overflow: hidden;
	margin-right: 17px;
	float: left;
}
.works_indexul li img{
	display: block;
	width: 100%;
	height: 100%;
	float: left;
}
.a_btn_more{
	width: 224px;
	height: 67px;
	background: url(../i/images/abtnmore.png) no-repeat center center;
	margin: 0 auto;
}

.form_wrap{
	width: 676px;
	height: auto;
	border: 2px solid #f7d152;
	margin: 0 auto;
	border-radius: 8px;
}
.form_box{
	width: 648px;
	height: auto;
	border: 2px dashed #f7d152;
	margin: 13px auto;
	border-radius: 6px;
}
.form_tit{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}
.form_con{
	margin-bottom: 15px;
}
.form_infor{
	width: 135px;
	padding-right: 10px;
	line-height: 46px;
	text-align: right;
	color: #333333;
	font-size: 26px;
}
.input_text{
	width: 348px;
	height: 44px;
	font-size: 20px;
	line-height: 44px;
	border: 1px solid #e0e0e0;
	background: #fafafa;
	padding-left: 10px;
	border-radius: 7px;
}
.add_file_box{
	width: 225px;
	float: left;
}
.input_file{
	list-style: none;
	width: 196px;
	height: 159px;
	background: #FFFFFF url(../i/images/add.png) no-repeat center center;
	border: 2px dashed #f7d152;
}
.form_p1{
	font-size: 20px;
	line-height: 46px;
	color: #666666;
	
}
.regtip{
	padding: 0;
	font-size: 20px;
	color: #333333;
	text-align: center;
}
.regtip a{
	color:#f7d152;
}
.p_file{
	width:200px;
	font-size: 18px;
	line-height: 46px;
	color: #666666;
	text-align: center;
}
.form_btn_box{
	width: 640px;
	margin: 0 auto;
}
.a_btn_backindex{
	width: 304px;
	height: 87px;
	background: url(../i/images/abtn_backindex.png) no-repeat center center;
}
.a_btn_sub{
	width: 304px;
	height: 87px;
	background: url(../i/images/abtn_sub.png) no-repeat center center;
}

/*foooter*/
.footer{width:100%;color:#fff;font-size:20px;text-align:center}
.footer a{color:#fff}
.footerCont{padding:98px 0;margin:0}