<?php if(!defined('IN_APP')) die('access denied');?>
<?php include template('header');?>
<div class="main_con">
	<div class="skin_box">
    	<div class="skin_con">
        	<?php include template('subnav');?>
        	<div class="foreword"><img src="static/i/sjyq/foreword.png" /></div>
            <div class="skins">
            	<ul>
                	<li>
                    	<div class="skin_img">
                        	<img src="static/i/sjyq/skin1.png" />
                        </div>
                        <p class="skin_txt">「当你的皮肤<span>动</span>起来」</p>
                    </li>
                	<li>
                    	<div class="skin_img">
                        	<img src="static/i/sjyq/skin2.png" />
                        </div>
                        <p class="skin_txt">「当你的皮肤能<span>DIY</span>」</p>
                    </li>
                	<li>
                    	<div class="skin_img">
                        	<img src="static/i/sjyq/skin3.png" />
                        </div>
                        <p class="skin_txt">「当你的皮肤变<span>3D</span>」</p>
                    </li>
                	<li class="last_li">
                    	<div class="skin_img">
                        	<img src="static/i/sjyq/skin4.png" />
                        </div>
                        <p class="skin_txt">「当你的皮肤有色也有<span>声</span>」</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pfjs_box">
    	<div class="pfjs_con">
        	<div class="pfjs_title"><img src="static/i/sjyq/skinTitle1.png" /></div>
            <p class="myTxt">
            	手机皮肤由候选栏、拼音区、云候选区、键盘大背景、9键按键、26键按键等元素设计组成<br />
                每个按键的背景和前景均可自定义，但是键盘布局不能改变哦<br />
                打开你的脑洞，发挥想象，让皮肤美起来吧！<br />
                图中为<span>九键键盘<img src="static/i/sjyq/line.png" /></span>示意：
            </p>
            <div class="in_con">
            	<img src="static/i/sjyq/keyboard.png" />
            </div>
        </div>
    </div>
    <div class="up_box">
    	<div class="up_con">
        	<div class="up_title"><img src="static/i/sjyq/skinTitle1.png" /></div>
            <div class="upTxt">
                <span>上传皮肤效果图：2张</span><br />
                说明：键盘9键和26键布局效果图，其中一张包含上划弹泡设计。<br />
                尺寸：见下图标注图<br />
                格式：jpg/png/gif
            </div>
            <div class="btn_con">
            	<a href="http://wap.dl.pinyin.sogou.com/wapdl/hole/201603/24/皮肤设计模板new.rar" onmousedown="javascript:pb_count('btn_dload_rartpl');"><img class="myLoad" src="static/i/sjyq/load_btn.png" /></a>
                <a href="upload.php" onmousedown="javascript:pb_count('btn_uploadlink');"><img src="static/i/sjyq/up_btn.png" /></a>
            </div>
            <div class="upImgs">
            	<img class="keyboard" src="static/i/sjyq/keyboard1.jpg" />
            	<img src="static/i/sjyq/keyboard2.jpg" />
            </div>
        </div>
    </div>    
</div><!--//.main_con-->
<script type="text/javascript">$(function(){setTimeout(function(){pb_count('page_design')},250)});</script>
<?php include template('footer');?>