<?php if(!defined('IN_APP')) die('access denied');?>
<?php include template('header');?>
<style type="text/css">
	.dynamic_box{ width:100%; text-align:center; }
	.dynamic_box p.last{ font-size:24px; color:#9cf737; line-height:24px; padding:10px 0 80px; }
	.dynamic_box .gif_box img{ margin:0 15px; width:450px; }
	.dynamic_box img.mImg{ width:480px; }
	
	.dTxt{ padding:15px 27px; }
	.dTxt p{ color:#fff; font-size:22px; line-height:48px; }
	.dTxt p span{ font-size:18px; }
	.dTxt p i{ border-bottom:2px solid #98ff12; padding-bottom:5px; }
	.subBtn ul li.dongxiao a{ background:url(static/i/sjyq/navBtnhover3.png) no-repeat left bottom; }
	.nav ul li.sheji a{ width:233px; background:url(static/i/shejiDown.png) no-repeat center center; }
	
</style>
<!-- 返回顶端 -->
<div id="return_top">
    <a alt="返回顶端" title="返回顶端" href="javascript:;scroll(0,0);"></a>
</div>

<div class="main_con">
	<div class="skin_box">
    	<div class="skin_con">
        	<?php include template('subnav');?>
        	<div class="dynamic_box">
                <img src="static/i/sjyq/dx_01.png" />
                <div class="dTxt">
                    <p>
                        大多时候的输入法皮肤都是静静地、美好着…<br />
                        然出现一两款<i>动效皮肤</i>也必定能撩拨你的眼球，成功引起注意<br />
                        好比之前搜哥家出品的<br />
                        狂拽拉轰的“星球大战”和萌你一脸的“功夫熊猫”动效皮肤！
                    </p>
                </div>
                <div class="gif_box">
                	<img src="static/i/sjyq/gif1.gif" /><br /><br /><br />
                    <img src="static/i/sjyq/gif2.gif" />
                </div>
                <div class="dTxt">
                    <p>
                        星战皮肤在调起键盘时会出现酷炫科技范儿十足的动效<br />
                        而功夫熊猫更是让你充分领会了一把打字时手指一直被胖达君注视着是种怎样的体验~<br />
                        那么如何复用这两款皮肤的动效呢？<br />
                        让搜哥一 一给你解说~<br />
                        <span>（ps：以上说的复用指的是利用相同原理，即技术上可直接实现的哟）</span>
                    </p>
                </div>
                <img src="static/i/sjyq/dx_02.png" />
                <div class="dTxt">
                    <p>
                        在调起键盘时的开屏动效为gif格式的文件<br />
                        所以你可以做任何关于你皮肤的动效，并生成gif格式<br />
                        动效播放时间最好是保证在2秒以内呢~
                    </p>
                </div>
                <img src="static/i/sjyq/dx_03.png" />
                <div class="dTxt">
                    <p>
                        <i>&nbsp;功能键：</i>
                    </p>
                </div>
                <img class="mImg" src="static/i/sjyq/dx_04.png" />
                <div class="dTxt">
                    <p>
                        如图红框标注的功能键在按下时会转圈圈，而长按时则会一直转<br />
                        所以这个脑洞可以应用到什么上面呢？<br />
                        反正搜哥脑海中响起了这首歌：“大风车那个吱悠悠的转”<br />
                        还有更丧一点的眼珠子按一下就滴溜溜的转…
                    </p>
                </div>
                <img src="static/i/sjyq/dog.gif" />
                <div class="dTxt">
                    <p>
                        <i>&nbsp;字母键：</i>
                    </p>
                </div>
                <img class="mImg" src="static/i/sjyq/dx_08.png" />
                <div class="dTxt">
                    <p>
                        字母键的按下效果可以看到超出了本身按下的尺寸范围，<br />
                        <i>所以此处搜哥脑洞又开啦~</i><br />
                        比如是否可以来款手榴弹的皮肤呢，按下时是炸弹引爆的效果<br />
                        或者保卫萝卜游戏里面，太阳花按下时会有一道光晕散开~
                    </p>
                </div>
                <img src="static/i/sjyq/dx_05.png" />
                <div class="dTxt">
                    <p>
                        当点击中间按键后，剩下的熊猫都会看向中间的方向<br />
                        而此皮肤实现的原理则是：当按下其中一个按键后，会带动其他按键背景换图片<br />
                        <i>所以搜哥脑洞又开啦~</i><br />
                        是否可以来个一群跟着太阳转脑袋的向日葵皮肤呢~<br />
                        还有围着你们的脑公宋仲基转的痴男痴女们呢~
                    </p>
                </div>
                <img src="static/i/sjyq/dx_06.png" />
                <div class="dTxt">
                    <p>
                        说完了上面两款已有的动效，搜哥要说下即将上线的<i>【挂件动效】</i><br />
                        什么是挂件动效？按字面意思理解则是像另外挂上去的动效= =<br />
                        举个栗子吼：<br />
                        比如下面这款即将上线的【春暖花开】春天特效版皮肤，<br />
                        大背景上的花瓣随风飞舞，而蝴蝶按下时还有蝴蝶飞出做嬉戏状，<br />
                        所以不管是按下时飞出蝴蝶以及大背景上花瓣飞舞，这两种情形都利用的挂件动效原理。
                    </p>
                </div>
                <img class="mImg" src="static/i/sjyq/dx_07.gif" />
                <div class="dTxt">
                    <p>
                        所以利用挂件动效来开个脑洞吧~<br />
                        比如春天来啦，做一个风筝迎风飞舞的背景~<br />
                        比如，还是以你们脑公宋仲基举例子，按下效果则是一串大红唇飘出，并伴有“mua~mua~”音效<br />
                        你会不会开心得飞起呢？（微笑脸.jpg<br /><br />
                        
                        讲了上面这么多技术上已经能实现的动效，当然<br />
                        我们更期待有更多想法的你能做出更多牛掰的动效呢~
                    </p>
                </div>
                <p class="last">Ps：本次大赛提交的作品包含9键和26键两张设计图，格式可以为gif哦~</p>
            </div>
        </div>
    </div>
</div><!--//.main_con-->
<?php include template('footer');?>

<script type="text/javascript">

	//返回顶端方法
	$(window).scroll(function () {
		//添加节点
		if ($("#return_top").length < 1) {
			var $a = $("<a href='javascript:;scroll(0,0);'  title='返回顶端' alt='返回顶端'></a>");
			var node = document.createElement("div");
			node.setAttribute("id", "return_top");
			document.body.appendChild(node);
			$("#return_top").append($a);
		}
		//判断是否显示
		if ($(window).scrollTop()) {
	
			$("#return_top").show();
		} else {
	
			$("#return_top").hide();
		}
	});

</script>
<script type="text/javascript">$(function(){setTimeout(function(){pb_count('page_dynamic')},250)});</script>