<?php if(!defined('IN_APP')) die('access denied');?>
<?php if(empty($_GET['inajax'])){?>
<div class="right_fixed">
	<a class="btn_lr right_pc" onclick="MtaH5.clickStat('6')" href="http://pinyin.sogou.com/help.php?list=5&q=1&f=idx_makeskin" target="_blank"></a>
	<a class="btn_lr right_3g" onclick="MtaH5.clickStat('7')" href="http://shouji.sogou.com/sapp/skindesign/jc.html" target="_blank"></a>
</div>
<div class="footer">
				<a href="http://shouji.sogou.com/wap/" rel="external nofollow" target="_blank">搜狗输入法wap版</a> - 
				<a href="http://www.sogou.com/fuwu" rel="external nofollow" target="_blank">企业推广</a> - 
				<a href="http://pinyin.sogou.com/" target="_blank">拼音输入法</a> - 
				<a href="http://ie.sogou.com/?f=pinyingw" target="_blank">搜狗浏览器</a> - 
				<a href="http://mail.sogou.com/" rel="external nofollow" target="_blank">G邮箱</a> - 
				<a href="http://hr.sogou.com/" rel="external nofollow" target="_blank">诚聘英才</a>
				<br>&copy; <script language="javascript">document.write(new Date().getUTCFullYear());</script> SOGOU.COM 
				<a href="http://www.miibeian.gov.cn/" rel="external nofollow" target="_blank">京ICP证050897号</a> 
				<a href="http://www.sogou.com/docs/terms.htm" rel="external nofollow" target="_blank">免责声明</a>
</div>
<script type="text/javascript" src="http://s.account.sogoucdn.com/u/api/sogou.js?t=2014101117" charset="uft-8"></script>
<script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500163286" cid="500163287" ></script>
<?php }?>