<?php include template('header'); ?>
	<body>
		<div class="wrapper index_wrap">
			<div class="bg_head"></div>
			<div class="mainWrap">
				<div class="bannertit">
					<div class="phold phold55"></div>
					<img src="static/i/images/bannertit.png" />
					<div class="phold phold30"></div>
					<div class="cl abtn_wrap">
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active1"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active2"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active3"></a>
						</div>
					</div>
				</div>
				<div class="phold phold30"></div>
				<!--内容区-->
				<div class="con_wrap">
					<div class="tab_wrap cl">
						<div class="tab tab_1"><a href="./"></a></div>
						<div class="tab tab_2 active"><a href="gallery.php?view=all"></a></div>
						<div class="tab tab_3"><a href="gallery.php?view=hits"></a></div>
					</div>
					<div class="tab_line"></div>
					<div class="phold phold40"></div>
					<!--内容区域start-->
					<?php if($list){?>
					<div class="zuopin-list cl">
					<?php $ii=0;$len=count($list);?>
					<?php foreach($list as $value){?>
						<?php $ii++?>
						<div class="zuopin-item <?php if($ii%3==0){?>rowLast<?php }?><?php if($len-$ii<=($len%3==0?3:($len%3))){?> colLast<?php }?>">
							<div class="zuopin-img"><div class="zuopin-img-inner"><img src="<?php echo$value['pickey26']?>" onerror="this.src='static/i/404.png';this.onerror=null;" /></div></div>
							<div class="zuopin-foot cl">
								<p class="zuopin-name" title="<?php echo $value['skin_name']?>"><?php echo cutstr($value['skin_name'],45,'..')?></p><p class="zuopin-author" title="<?php echo $value['author_name']?>">by.&nbsp;<?php echo cutstr($value['author_name'],30,'..')?></p>
							</div>
						</div>
					<?php }?>
					</div>
					<div class="pgWrap"><?php echo$pageshow;?></div>
					<?php } else {?>
					<div class="noer" style="height:600px;background:url(static/i/bisai-ing.png) no-repeat scroll 50% 50%"></div>
					<?php }?>
					<!--内容区域end-->
				</div>
				<!--copybottom-->
				<?php include template('footer');?>
			</div>
		</div>
	</body>
</html>