<?php include template('header'); ?>
	<body>
		<div class="wrapper index_wrap">
			<div class="bg_head"></div>
			<div class="mainWrap">
				<div class="bannertit">
					<div class="phold phold55"></div>
					<img src="static/i/images/bannertit.png" />
					<div class="phold phold30"></div>
					<div class="cl abtn_wrap">
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active1"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active2"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active3"></a>
						</div>
					</div>
				</div>
				<div class="phold phold30"></div>
				<!--内容区-->
				<div class="con_wrap">
					<div class="tab_wrap cl">
						<div class="tab tab_1 active"><a></a></div>
						<div class="tab tab_2"><a></a></div>
						<div class="tab tab_3"><a></a></div>
					</div>
					<div class="tab_line"></div>
					<div class="phold phold40"></div>
					<!--内容区域start-->
					<style type="text/css">
					.noer{overflow:hidden}
					.zuopin-item {
						width: 304px;
						height: 294px;
						float: left;
						display: inline;
						position: relative;
						margin: 0 16px 40px 0;
					}
					.zuopin-item.row-first {}
					.zuopin-item.col-first {}
					.zuopin-item.row-last {margin-right: 0}
					.zuopin-item.col-last {margin-bottom: 0}
					.zuopin-img, .zuopin-img-inner {
						width: 304px;
						height: 248px;
						overflow: hidden;
						text-align: center;
						font-size: 0;
					}
					.zuopin-img {
					}
					.zuopin-img-inner {
						display: table-cell;
						vertical-align: middle;
					}
					.zuopin-img-inner img {
						max-width: 100%;
						max-height: 100%;
						_width: 100%;
						_height: 100%;
					}
					.zuopin-foot {
						width: 96%;
						height: 36px;
						margin: 10px 0 0;
						padding: 0 2%;
						font-size: 16px;
						-webkit-border-radius: 8px;
						-o-border-radius: 8px;
						border-radius: 8px;
						background-color: #e6e6e6;
					}
					.zuopin-name, .zuopin-author {
						height: 100%;
						float:left;
						color: #5c0004;
						line-height: 36px;
					}
					.zuopin-author {
						float:right;
					}
					</style>
					<div class="noer" style="height:600px;background:url(static/i/bisai-ing.png) no-repeat scroll 50% 50%"></div>
					<div class="zuopin-list cl">
						<div class="zuopin-item">
							<div class="zuopin-img"><div class="zuopin-img-inner"><img src="static/i/sample.png" /></div></div>
							<div class="zuopin-foot cl">
								<p class="zuopin-name">虎虫</p><p class="zuopin-author">by.十月桃桃</p>
							</div>
						</div>
						<div class="zuopin-item">
							<div class="zuopin-img"><div class="zuopin-img-inner"><img src="static/i/sample.png" /></div></div>
							<div class="zuopin-foot cl">
								<p class="zuopin-name">虎虫</p><p class="zuopin-author">by.十月桃桃</p>
							</div>
						</div>
						<div class="zuopin-item row-last">
							<div class="zuopin-img"><div class="zuopin-img-inner"><img src="static/i/sample.png" /></div></div>
							<div class="zuopin-foot cl">
								<p class="zuopin-name">虎虫</p><p class="zuopin-author">by.十月桃桃</p>
							</div>
						</div>
						<div class="zuopin-item col-last">
							<div class="zuopin-img"><div class="zuopin-img-inner"><img src="static/i/sample.png" /></div></div>
							<div class="zuopin-foot cl">
								<p class="zuopin-name">虎虫</p><p class="zuopin-author">by.十月桃桃</p>
							</div>
						</div>
						<div class="zuopin-item col-last">
							<div class="zuopin-img"><div class="zuopin-img-inner"><img src="static/i/sample.png" /></div></div>
							<div class="zuopin-foot cl">
								<p class="zuopin-name">虎虫</p><p class="zuopin-author">by.十月桃桃</p>
							</div>
						</div>
						<div class="zuopin-item col-last row-last">
							<div class="zuopin-img"><div class="zuopin-img-inner"><img src="static/i/sample.png" /></div></div>
							<div class="zuopin-foot cl">
								<p class="zuopin-name">虎虫</p><p class="zuopin-author">by.十月桃桃</p>
							</div>
						</div>
					</div>
					<!--内容区域end-->
				</div>
				<!--copybottom-->
				<?php include template('footer');?>
			</div>
		</div>
	</body>
</html>
