<?php if(!defined('IN_APP')) die('access denied');?>
<?php include template('header');?>
<?php if(!empty($list) && is_array($list)){?>
<?php foreach($list as $value){$skins = array_merge(isset($skins)?$skins:array(), $value);}?>
<script type="text/javascript">var skins = <?php echo json_encode($skins)?>;</script>
<?php }?>
<style type="text/css">
.temptip {
	font-size: 22px;
    color: #fff;
    text-align: left;
    margin: 0 auto;
    width: 960px;
    padding-bottom: 180px;
    margin-top: 60px;
}
</style>
<div class="main_con">
    <div class="hjzp_title">
        <div class="title_box">
            <a href="gallery.php" class="cansai"></a>
            <a href="gallery.php?view=hits" class="huojiang"></a>
        </div>
    </div>
	<div class="temptip">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于本次大赛作品数量众多，佳作频出，小编和评委们都太喜欢了，很难抉择！！且待我冷静几天再纠结下，获奖名单将推迟到下周公布，望久等的各位见谅！静待惊喜么么扎~</div>
</div><!--//.main_con-->
<script type="text/javascript">$(function(){setTimeout(function(){pb_count('page_gallery_hits')},250)});</script>
<?php include template('footer');?>