<?php if(!defined('IN_APP')) die('access denied');?>
<?php include template('header');?>
<?php if(!empty($list) && is_array($list)){?><script type="text/javascript">var skins = <?php echo json_encode($list)?>;</script><?php }?>
<div class="main_con">
	<div class="ysczp_title">
		<div class="title_box">
			<a href="upload.php" class="uping"></a>
			<a href="gallery.php?view=me" class="uped"></a>
		</div>
	</div>
	<div class="uped_con">
		<?php if($list){?>
		<?php $ii=0;$len=count($list);?>
		<ul class="cl">
		<?php foreach($list as $value){?>
			<?php $ii++?>
			<li class="<?php if($ii%3==0){?>rowLast<?php }?><?php if($len-$ii<=($len%3==0?3:($len%3))){?> colLast<?php }?>">
				<div class="works_img"><img src="<?php echo$value['pickey26']?>" /></div>
				<div class="works_txt">
					<div class="works_mes">
						<p class="work_name" title="<?php echo $value['skin_name']?>"><?php echo cutstr($value['skin_name'],27,'..')?></p>
						<p class="author" title="<?php echo $value['author_name']?>">by.&nbsp;<?php echo cutstr($value['author_name'],18,'..')?></p>
					</div>
					<a href="javascript:;" class="zuopinShare" onclick="show_share(<?php echo $value['id']?>)"><img src="static/i//sharebtn.png" /></a>
				</div>
			</li>
		<?php }?>
		</ul>
		<div class="tip" style="padding-top:28px;color:#ccc;text-align:center">ps：同一用户名可上传多组不同参赛作品，同一作品提交多次以最终提交作品为准</div>
		<?php } else {?>
		<div class="noer" style="text-align:center;">暂无更多作品..</div>
		<?php }?>
	</div>
	<div class="pgWrap"><?php echo$pageshow;?></div>
</div><!--//.main_con-->
<script type="text/javascript">$(function(){setTimeout(function(){pb_count('page_gallery_me')},250)});</script>
<?php include template('footer');?>