<?php if(!defined('IN_APP')) die('access denied');?>
<?php if(empty($_GET['inajax'])){?>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title><?php if(isset($_TPL['title'])){?><?php echo $_TPL['title'];?>-<?php }?>姜小虎手机皮肤征集大赛，等你来耍！</title>
<meta name="keywords" content="姜小虎手机皮肤征集" />
<meta name="description" content="姜小虎手机皮肤征集" />
<meta http-equiv="X-UA-Compatible" content="IE=10;chrome=1;" />
<meta name="viewport" content="width=1074, user-scalable=no, target-densitydpi=device-dpi">
<meta charset="utf-8" />
<link rel="stylesheet" href="static/c/demo.css" />
<link rel="stylesheet" href="static/c/style.css" />
<link rel="stylesheet" href="static/c/add.css" />
<script type="text/javascript" src="static/j/jquery.1.7.1.min.js" ></script>
<!--<link rel="stylesheet" type="text/css" href="static/c/style.css"/>-->
<link rel="stylesheet" type="text/css" href="static/c/jquery.fancybox-1.3.4.css" />
<!--<link rel="stylesheet" type="text/css" href="static/c/demo.css" />-->
<!--<link rel="stylesheet" type="text/css" href="static/c/istyle.css" />-->
<!--<link rel="stylesheet" type="text/css" href="static/c/imgcss.css" />-->
<style type="text/css">html,body{font:12px/1.5 "Hiragino Sans GB",微软雅黑,宋体,serif,Arial,Verdana,Geneva,Helvetica,sans-serif;}</style>
<!--<script type="text/javascript" src="static/j/common.js"></script>-->
<!--<script type="text/javascript" src="static/j/menu.js"></script>-->
<!--<script type="text/javascript" src="http://wap.dl.pinyin.sogou.com/wapdl/hole/201411/06/jquery.1.7.1.min.js"></script>-->
<!--<script type="text/javascript" src="http://wap.dl.pinyin.sogou.com/wapdl/hole/201412/30/finalexam2014/j/jquery.form.min.js"></script>-->
<!--<script type="text/javascript" src="http://wap.dl.pinyin.sogou.com/wapdl/hole/201411/06/jquery.cookie.js"></script>-->
<!--<script type="text/javascript" src="static/j/jquery.fancybox-1.3.4.pack.js"></script>-->
<!--<script type="text/javascript" src="static/j/global.js"></script>-->
<!--<script type="text/javascript" src="static/j/share.js"></script>-->
<!--<script type="text/javascript" src="static/j/jquery-1.11.1.min.js" ></script>-->
<!--兼容多个jquery版本-->
<!--<script type="text/javascript" > var $jq = jQuery.noConflict(true); </script>-->
<!--<script type="text/javascript" src="static/j/jquery.easing-1.3.js"></script>-->
<!--<script type="text/javascript" src="static/j/jquery.jcarousellite.min.js"></script>-->
<!--<script type="text/javascript" src="http://dl.qqpy.sogou.com/stat/pb.js?id=8915"></script>-->
<script type="text/javascript">
$(function(){
	if(_getUser().uid>0&&typeof(_getUser().nickname)!='undefined'&&_getUser().nickname.length>0) {
		$('#uinfo').html(function(){
			return '<ul class="userinfo_ul cl"><li style="color:#fff"><span id="username">您好，'+_getUser().nickname+' ！</span><a style="color:#fff" class="topNav" href="javascript:;" onclick="logout();">退出</a></li></ul>';
		});
	}
});
</script>
</head>
<body>
<div id="append_parent"></div><div id="ajaxwaitid"></div>
<div class="top_con">
        <div class="top">
        <div class="header">
        <div class="logo">
        <div class="logo_box"><a href="http://shouji.sogou.com/" target="_blank"><img src="static/i/logo.png" /></a></div>
</div>
<div id="uinfo" class="login">
        <a class="enter" onclick="showLoginBox();" href="javascript:;">登录</a><a href="javascript:;" style="cursor:default">|</a>
<a class="enroll" href="https://account.sogou.com/web/reg/nick?client_id=2003&ru=<?php echo urlencode(get_siteurl())?>">注册</a>
        </div>
        </div>
        </div><!--//.top-->
</div><!--//.top_con-->
<?php }?>