<?php include template('header'); ?>
	<body>
		<div class="wrapper index_wrap">
			<div class="bg_head"></div>
			<div class="mainWrap">
				<div class="bannertit">
					<div class="phold phold55"></div>
					<img src="static/i/images/bannertit.png" />
					<div class="phold phold30"></div>
					<div class="cl abtn_wrap">
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active1"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active2"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active3"></a>
						</div>
					</div>
				</div>
				<div class="phold phold30"></div>
				<!--内容区-->
				<div class="con_wrap">
					<div class="tab_wrap cl">
						<div class="tab tab_1 active"><a href="./"></a></div>
						<div class="tab tab_2"><a href="gallery.php?view=all"></a></div>
						<div class="tab tab_3"><a href="gallery.php?view=hits"></a></div>
					</div>
					<div class="tab_line"></div>
					<div class="phold phold40"></div>
					<img src="static/i/images/tit1.png" class="imgblock" />
					<div class="phold phold5"></div>
					<p class="p_con">姜小虎，源自完美世界众多款游戏中的表情、宠物。游戏里，跟着主人闯世界，永远一张憨厚的笑脸令人心暖。它积极、乐观，善于传递正能量；它逗趣、幽默，能让你真正的笑出声；它贴心、温暖，会在你最低落时默默陪着你；它活泼、开朗，能和你共同行动、实现所有愿望。</p>
    				<p class="p_con">几亿用户都在用的搜狗输入法，等你来彰显实力！用你的创意和设计，打造最萌的搜狗输入法姜小虎手机皮肤！</p>
    				<div class="phold phold30"></div>
    				<img src="static/i/images/tit2.png" class="imgblock" />
    				<div class="phold phold5"></div>
    				<div class="flow_wrap">
    					<div class="time time1">
    						<p class="p_h3">征集期</p>
    						<p class="p_h5">2016年12月1日</p>
    						<p class="ppp">~</p>
    						<p class="p_h5">2016年12月1日</p>
    					</div>
    					<div class="time time2">
    						<p class="p_h3">征集期</p>
    						<p class="p_h5">2016年12月1日</p>
    						<p class="ppp">~</p>
    						<p class="p_h5">2016年12月1日</p>
    					</div>
    					<div class="time time3">
    						<div class="phold phold15"></div>
    						<p class="p_h3">征集期</p>
    						<p class="p_h5">2016年12月1日</p>
    					</div>
    				</div>
    				<div class="phold phold30"></div>
    				<img src="static/i/images/tit3.png" class="imgblock" />
    				<div class="prize_wrap">
    					<ul class=" prize_ul cl">
    						<li>
    							<div class=" prize_tit">
    								姜小虎最美奖 (1名)
    							</div>
    							<div class="prize_img">
    								<img src="static/i/images/prize1.png" />
    							</div>
    						</li>
    						<li>
    							<div class=" prize_tit">
    								姜小虎最酷奖 (1名)
    							</div>
    							<div class="prize_img">
    								<img src="static/i/images/prize2.png" />
    							</div>
    						</li>
    						<li>
    							<div class=" prize_tit">
    								姜小虎最爱奖 (1名)
    							</div>
    							<div class="prize_img">
    								<img src="static/i/images/prize3.png" />
    							</div>
    						</li>
    						<li>
    							<div class=" prize_tit">
    								姜小虎最乐奖 (1名)
    							</div>
    							<div class="prize_img">
    								<img src="static/i/images/prize4.png" />
    							</div>
    						</li>
    						<li>
    							<div class=" prize_tit">
    								姜小虎最潮奖 (1名)
    							</div>
    							<div class="prize_img">
    								<img src="static/i/images/prize5.png" />
    							</div>
    						</li>
    						<li>
    							<div class=" prize_tit">
    								姜小虎优秀奖 (6名)
    							</div>
    							<div class="prize_img">
    								<img src="static/i/images/prize6.png" />
    							</div>
    						</li>
    					</ul>
    				</div>
    				<div class="phold phold25"></div>
    				<img src="static/i/images/tit4.png" class="imgblock" />
    				<div class="phold phold10"></div>
    				<div class="con_guize">
    					<p class="p_gz_tit">设计要求：</p>
    					<p class="p_gz">1、下载你喜爱的素材并自行选择其他姜小虎相关素材设计搜狗输入法手机皮肤</p>
    					<p class="p_gz">2、只需设计9键和26键两张皮肤效果图，无需制作皮肤包；点击“手机皮肤设计规范”进入官网下载手机皮肤设计源文件进行皮肤设计</p>
    					<p class="p_gz">3、设计美观大方，有创意，够风格，细节丰富；可以增加动效效果</p>
    					<div class="phold phold25"></div>
    					<p class="p_gz_tit">获奖须知：</p>
    					<p class="p_gz">1、公布结果后的5个工作日内会给获奖者邮箱发送获奖通知，请确认提供真实有效的联系方式；</p>
    					<p class="p_gz">2、获奖者请在3个工作日内回复获奖通知，并根据邮件内容，配合主办方完成奖品发放等工作；</p>
    					<p class="p_gz">3、同一用户名可上传多组不同作品。评选结果以作品为单位，即同一用户名可获得多个奖项。</p>
    				</div>
    				<div class="phold phold25"></div>
    				<img src="static/i/images/tit5.png" class="imgblock" />
    				<!--没有作品时的状态-->
    				<div class="phold phold45"></div>
    				<img src="static/i/images/no_zp.png" class="imgblock" />
    				<!--作品超过3个以上的状态-->
    				<div class="works_wrap">
    					<div class="phold phold10"></div>
    					<ul class="works_indexul cl">
							<?php
							 	if(count($wtop3) == 3){
							 		foreach($wtop3 as $k=>$v){
										echo "<li><img src='".$v["pickey9"]."' width='303px' height='247px'/></li>";
									}
							 	}
							?>
    					</ul>
    					<div class="phold phold20"></div>
    					<a class="a_btn a_btn_more" href="gallery.php?view=all" target="_blank"></a>
    				</div>
				</div>
				<!--copybottom-->
				<?php include template('footer');?>
			</div>
		</div>
	</body>
<script>
$(function(){
	//上传按钮
	$(".abtn_active2").click(function(){
		if(_getUser().uid >= 1){
			window.open("upload.php");
		}else{
			showLoginBox();
		}
	})
})

</script>
</html>
