<?php include template(header);?>
<script type="text/javascript" src="http://wap.dl.pinyin.sogou.com/wapdl/hole/201411/06/jquery.uploadify.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="http://wap.dl.pinyin.sogou.com/wapdl/hole/201411/06/uploadify.css" /> -->
<link rel="stylesheet" type="text/css" href="static/c/uploadify.css" />
		<div class="wrapper index_wrap">
			<div class="mainWrap">
				<div class="tit_wrap">
					<img src="static/i/alitit.png" class="imgwap"/>
				</div>
				<div class="btn_wrap cl">
					<div class="btn_tb fl up3g" onclick="MtaH5.clickStat('1')"><a href="#"></a></div>
					<a class="btn_tb fl uppc" onclick="MtaH5.clickStat('2')" href="<?php if(isset($_COOKIE['uid']) &&  $_COOKIE['uid']> 0 ){echo 'http://pinyin.sogou.com/skins/upload/ucskin/';
					}else{echo 'javascript:showLoginBox();';}?>" target="_blank"></a>
					<div class="btn_tb fr activeguifan" onclick="MtaH5.clickStat('3')"><a href="#"></a></div>
				</div>
			</div>
			<div class="wrap_box">
				<div class="part1_wrap">
					<img src="static/i/ipart1.png" class="imgblock" />
					<div class="part1_con">
						<h2 class="h2_tit">手机皮肤奖项设置</h2>
						<h5>一等奖：（1名）世界邦1000元优惠券，下单再送价值1200元运动相机大礼包，阿狸旅行箱24寸。</h5>
						<h5>二等奖：（3名）阿狸旅行箱20寸，世界邦1000元优惠券。</h5>
						<h5>三等奖：（5名）阿狸mini双肩包，阿狸迷你公仔一对。</h5>
					</div>
					<div class="part1_con">
						<h2 class="h2_tit">PC皮肤奖项设置</h2>
						<h5>一等奖：（1名）阿狸旅行箱20寸，世界邦1000元优惠券。</h5>
						<h5>二等奖：（3名）阿里旅行双肩包。</h5>
						<h5>三等奖：（5名）阿狸钱包。</h5>
					</div>
					<div class="jiangpindiv">
						<img src="static/i/jiangpin.png" class="imgwap" />
					</div>
				</div>
				<div class="part2_wrap">
					<h2 class="h2_tit">优秀作品展示</h2>
					<div class="goodworks cl">
						<div class="works_1 fl cl">
							<?php
								foreach($awesome['wap'] as $k=>$v){
									$c = "";
									if($k == 0){
										$c .= '<div class="works_1l fl">';
									}else{
										$c .= '<div class="works_1l fr">';
									}
									$c .= '<div class="works_1img imgwap"><img width="307" height="252" src="'.$v['skin_img'].'" class="imgwap"/></div><div class="skinDloadWrap"><div class="skin_downbg"></div><div class="skin_down"><div class="qr_down"><img width="135" height="135" src="'.$v['qr_img'].'" /></div><p>扫码立即启用皮肤</p></div></div></div>';
									
									echo $c;
								}
							?>
						
						</div>
						<div class="works_2 fr">
							<?php
								foreach($awesome['pc'] as $k=>$v){
									$c = "";
									if($k == 0){
										$c .= '<div class="works_2t"><div class="works_2img imgwap"><img src="'.$v['skin_img'].'" width="240" height="120" class="imgwap"/></div><div class="skinDloadWrap" onclick="MtaH5.clickStat(\'8\')">';
									}else{
										$c .= '<div class="works_2t" style="margin-top: 10px;"><div class="works_2img imgwap"><img src="'.$v['skin_img'].'" width="240" height="120" class="imgwap"/></div><div class="skinDloadWrap" onclick="MtaH5.clickStat(\'9\')">';
									}
									$c .= '<div class="skin_downbg"></div><a class="skin_downa" href="http://download.pinyin.sogou.com/skins/download.php?skin_id='.$v['skin_id'].'&f=skindesignali"><span>点击下载</span></a></div></div>';
									echo $c;
								}
							?>
						</div>
					</div>
				</div>
				<div class="part3_wrap">
					<div class="part3_wraptit">
						<img src="static/i/part3.png" class="imgblock" />
						<a class="more_wrap btn_lr" href="source.php?f=imore" target="_blank"></a>
					</div>
					<ul class="skin_makeul cl">
						<?php
							foreach($awesome_img as $k=>$v){
								echo "<li onclick=\"MtaH5.clickStat('10')\"><img src='".$v['url']."' width='215' height='135'></li>";
							}
						?>
					</ul>

				</div>
				<div class="part4_wrap">
					<div class="part4_wraptit">
						<img src="static/i/part4.png" class="imgblock" />
						<a class="more_wrap btn_lr" href="wapshow.php" target="_blank"></a>
					</div>
					<?php if($showpic == 0)echo '<div class="expect"></div>'?>
					<div class="part4_works <?php if($showpic == 0){echo 'part4_hide';}?>">
						<ul class="part4_works1ul cl">
							<?php 
								foreach($wtop4 as $k=>$v){
									echo '<li><img src="'.$v['pickey9'].'" class="imgwap" width="222" height="182"/></li>';
								}
							?>
						</ul>
						<ul class="part4_works2ul cl">
							<?php 
								foreach($ptop4 as $k=>$v){
									echo '<li><img src="'.$v['picThumb'].'" class="imgwap" width="222" height="112"/></li>';
								}
							?>
						</ul>
					</div>
				</div>
			</div>
			<?php include template(footer); ?>
			<!--图片放大-->
			<div class="img_skin_big">
				<a class="img_down btn_lr" onclick="MtaH5.clickStat('11')"> </a>
				<a class="img_close btn_lr"> </a>
				<div class="img_skin_bigimg">
					<img src="static/i/works1.png" class="imgwap"/>
				</div>	
				<div class="wrap_awimgbox">
					<a class="imgulprev"></a>
					<a class="imgulnext"></a>
					<div class="imgul_box">
						<ul class="wrap_awimgul cl">
							<?php 
								foreach($awesome_img as $k=>$v){
									echo "<li><img src={$v['url']} width='130' height='85' name={$v['name']} p_type={$v['type']} /></li>";
								}
							?>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!--活动规则-->
		<div class="maskbox" id="activeguize">
			<div class="maskbg"></div>
			<div class="maskdiv">
				<div class="xing1"></div>
				<div class="xing2"></div>
				<div class="close"></div>
				<img src="static/i/zitihd.png" class="imgblock" />
				<div class="linkaguifan">
					<a href="http://shouji.sogou.com/sapp/skindesign/jc.html" onclick="MtaH5.clickStat('4')"  class="btn_tb g3guifan" target="_blank"></a>
					<a href="http://pinyin.sogou.com/help.php?list=5&q=1&f=idx_makeskin" onclick="MtaH5.clickStat('5')" target="_blank" class="btn_tb pcguifan"></a>
				</div>
				<div class="mask_con">
					<h3 class="h3_tit">活动时间：</h3>
					<h5>征集期：8月3日-8月24日</h5>
					<h5>作品评选期：8月25日-8月26日</h5>
					<h5>公布结果：8月29日</h5>
				</div>
				<div class="mask_con">
					<h3 class="h3_tit">奖品设置：</h3>
					<h5>手机皮肤奖项设置</h5>
					<h5>一等奖：（1名）</h5>
					<h5>世界邦1000元优惠券，下单再送价值1200元运动相机大礼包，阿狸旅行箱 24寸</h5>
					<h5>二等奖：（3名）</h5>
					<h5>阿狸旅行箱 20寸，世界邦1000元优惠券</h5>
					<h5>三等奖：（5名）</h5>
					<h5>阿狸mini双肩包，阿狸迷你公仔一对</h5>
					<h5>pc皮肤奖项设置：</h5>
					<h5>一等奖：（1名）</h5>
					<h5>阿狸旅行箱 20寸，世界邦1000元优惠券</h5>
					<h5>二等奖：（3名）</h5>
					<h5>阿狸旅行双肩包</h5>
					<h5>三等奖：（5名）</h5>
					<h5>阿狸钱包</h5>
				</div>
				<div class="mask_con">
					<h3 class="h3_tit">参赛须知：</h3>
					<h5>1、下载你喜爱的照片素材并自行选择设计成手机皮肤或pc皮肤；</h5>
					<h5>2、pc皮肤需制作完整的皮肤包并在官网按要求进行作品上传；</h5>
					<h5>3、手机皮肤只需上传9键和26键两张皮肤效果图，无需制作皮肤包；</h5>
					<h5>4、点击上方“手机皮肤设计规范”进入官网下载手机皮肤设计源文件进行皮肤设计，pc皮肤按照尺寸规范直接进行设计并制作皮肤包；</h5>
					<h5>5、pc皮肤提交的名称中需包含“阿狸”，标签请务必带上“带着阿狸去旅行”。</h5>
				</div>
				<div class="mask_con">
					<h3 class="h3_tit">获奖须知：</h3>
					<h5>1、公布结果后的5个工作日内会给获奖者邮箱发送获奖通知，请确认提供真实有效的联系方式；</h5>
					<h5>2、获奖者请在3个工作日内回复获奖通知，并根据邮件内容，配合主办方完成奖品发放等工作；</h5>
					<h5>3、同一用户名可上传多组不同作品。评选结果以作品为单位，即同一用户名可获得多个奖项。</h5>
				</div>
			</div>
		</div>
		<!--手机信息-->
		<div class="maskbox" id="maskup3g">
			<div class="maskbg"></div>
			<div class="maskdiv">
				<div class="xing1"></div>
				<div class="xing2"></div>
				<div class="close"></div>
				<img src="static/i/zitiupskin.png" class="imgblock" />
				<form action="" method="post" id="iform"> 
					<input type="hidden" name="dosubmit" value="true"/>
					<input type="hidden" name="formhash" value="<?php echo formhash();?>"/>
					<div class="formdiv cl">
						<h2>作者信息</h2>
						<div class="autor_info inputdiv">
							<span>昵称：</span>
							<input id="nickname" type="text" class="input_text1 input_text" name="nickname" value=""/>
						</div>
						<div class="autor_info inputdiv">
							<span>QQ：</span>
							<input id="qq" type="text" class="input_text1 input_text"  name="qq" value=""/>
						</div>
						<div class="autor_info inputdiv">
							<span>手机：</span>
							<input id="telnumber" type="text" class="input_text1 input_text" name="telnumber" value=""/>
						</div>
						<div class="autor_info inputdiv">
							<span>邮箱：</span>
							<input id="email" type="text" class="input_text1 input_text" name="email" value=""/>
						</div>
					</div>
					<div class="formdiv">
						<h2>皮肤信息</h2>
						<div class=" inputdiv">
							<span>名称：</span>
							<input id="skin_name" type="text" class="input_text2 input_text" placeholder="限定在20字符（10个汉字）以内"  name="skin_name" value=""/>
						</div>
						<div class="inputdiv">
							<span>简称：</span>
							<input id="short_name" type="text" class="input_text2 input_text" placeholder="限定在10字符（5个汉字）以内" name="short_name" value=""/>
						</div>
					
					</div>
					<div class="formdiv">
						<h2>上传作品</h2>
						<h5>按照给定尺寸，两张，分别为键盘9件和26键布局，每张不超过3MB
尺寸均为：宽度1080px，高度887px。</h5>
					</div>
					<div class="uplocation">
						<!--<div class="btn_lr uplode"></div>-->
						<div id="picUploadWrap" class="picUploadWrap"></div>
						<div id="picViewWrap">
							<span class="success">上传成功！</span>
							<div id="picView" class="picView">
								<span>文件名xxxxxxxxxxx.png</span>
								<span>文件名xxxxxxxxxxx.png</span>
							</div>
							<div class="delete" onclick="init_uploader('pic');"><img src="static/i/delete.png" /></div>
						</div>
					</div>
					<input class="btn_lr btn_submit" type="submit" id="submitbtn" value="">
				</form>
			</div>
		</div>
	</body>
<script>
<?php echo "var content=".json_encode($awesome_img).";"; ?>
var first_li = $(".wrap_awimgul").children();
var max_pic_size = '<?php echo str_replace(' ', '', formatsize(MAX_PIC_SIZE));?>';
var a;

$(function(){
	$('.activeguifan').click(function(){
		$('#activeguize').addClass('disblock');
	});
	$('.close').click(function(){
		$('.maskbox').removeClass('disblock');
	});
	$('.up3g').click(function(){
		if(_getUser().uid >= 1){
			$('#maskup3g').addClass('disblock');
		}else{
			showLoginBox();
		}
	});

	//调用图片浏览插件jCarouselLite
	a = $jq(".wrap_awimgbox .imgul_box").jCarouselLite({
		btnNext: ".wrap_awimgbox .imgulnext",
		btnPrev: ".wrap_awimgbox .imgulprev",
		start:0,
		btnGo: $jq('.skin_makeul li'),
		visible:6,
		speed: 400,
		easing: "easeOutBack",
	});

	//素材弹窗控制
	$('.skin_makeul li').click(function(){
		$('.img_skin_big').addClass('disblock');
		var cur_index = $('.skin_makeul').find('li').index($(this));
		$(".img_skin_bigimg img").attr("src",content[cur_index].url);
		//初始化下载地址
		$(".img_down").attr("href","img_attachment.php?i="+content[cur_index].dl_url+"&n="+content[cur_index].name+"&t="+content[cur_index].type);
		
		$jq(".wrap_awimgul img").on("click",function(){
			$(".img_skin_bigimg img").attr("src",$(this).attr("src"));
			$(".img_down").attr("href","img_attachment.php?i="+$(this).attr("src").replace(/s(\d{1,2}).jpg/,"b$1.jpg")+"&n="+$(this).attr("name")+"&t="+$(this).attr("p_type"));
			//$(".img_down").attr("href","img_attachment.php?i="+content[cur_index].dl_url+"&n="+$(this).attr("name")+"&t="+$(this).attr("p_type"));
		});
		//alert(cur_index);
	});
	$('.img_close').click(function(){
	//	t = null;
		//$(".wrap_awimgul").html(first_li);
		$('.img_skin_big').removeClass('disblock');
		$(".wrap_awimgul img").unbind();
	});

	//初始化uploadify
	$('#skin_name').DefaultValue();
	$('#short_name').DefaultValue();
	init_uploader('pic');

	//提交表单内容
	$('#iform').ajaxForm({
		dataType: 'json',
		beforeSubmit: function() {
			if($('#submitbtn').attr('disabled') || !check_form()) {
				return false;
			}
			$('#submitbtn').attr('disabled', true);
			$('#ajaxwaitid').show();
			showwaiting('ajaxwaitid');
		},
		complete: function(XMLHttpRequest, status) {
			$('#submitbtn').attr('disabled', false);
			$('#ajaxwaitid').hide();
			clearwaiting('ajaxwaitid');
			if(status == 'timeout') {
				XMLHttpRequest.abort();
				showNotice('请求超时。');
			}
		},
		success: function(resp) {
			//alert(1111111+resp.status);
			if(typeof resp != 'object') {
				try{
					resp = JSON.parse(resp);
				} catch(e) {
					showNotice('响应失败');
					return;
				}
			}
			if(resp.status == 2) {
				showLoginBox();
				return;
			} else {
				showNotice(resp.message, 1.5);
				if(resp.status > 0) {//save success
					setTimeout(function(){window.location.href='index.php'},1550)
					return;
				}
			}
		},
		error:function() {
			showNotice('响应失败。');
		}
	});
});

//检测表单输入
function check_form() {
	if(_getUser().uid < 1) {
		showLoginBox();
		return false;
	}
	if($('#submitbtn').attr('disabled')) {
		return false;
	}
	var nickname = $.trim($('#nickname').val());
	var qq = $.trim($('#qq').val());
	var telnumber = $.trim($('#telnumber').val());
	var email = $.trim($('#email').val());
	var skin_name = $.trim($('#skin_name').val());
	var short_name = $.trim($('#short_name').val());
	
	if($('#nickname').length > 0) {
		if(nickname.length < 1) {
			$('#nickname').focus();
			showerr('nickname', '没有填写昵称');
			return false;
		}
	}
	if($('#qq').length > 0) {
		if(qq.length < 1) {
			$('#qq').focus();
			showerr('qq', '没有填写qq');
			return false;
		}
		if(!/^[0-9]+$/i.test(qq)) {
			$('#qq').focus();
			showerr('qq', 'qq号码应由数字组成');
			return false;
		}
	}
	if($('#telnumber').length > 0) {
		if(telnumber.length < 1) {
			$('#telnumber').focus();
			showerr('telnumber', '没有填写手机');
			return false;
		}
		if(!/^1[34578]\d{9}$/i.test(telnumber)) {
			$('#telnumber').focus();
			showerr('telnumber', '手机格式不正确，请填写正确的手机号');
			return false;
		}
	}
	if($('#email').length > 0) {
		if(email.length < 1) {
			$('#email').focus();
			showerr('email', '没有填写邮箱');
			return false;
		}
		if(!/^([A-Za-z0-9\-_.+]+)@([A-Za-z0-9\-]+[.][A-Za-z0-9\-.]+)$/.test(email)) {
			$('#email').focus();
			showerr('email', '邮箱格式不正确');
			return false;
		}
	}
	
	if(byteLength(skin_name) < 1 || byteLength(skin_name) > 20) {
		$('#skin_name').focus();
		showerr('skin_name', '没有填写皮肤名称或超过20个字符');
		return false;
	}
	
	if(byteLength(short_name) < 1 || byteLength(short_name) > 10) {
		showerr('short_name', '没有填写皮肤简称或超过5个字符');
		return false;
	}
	
	if($('input[name="picurl[]"]').length < 2) {
		showerr('picfile', '没有上传皮肤效果图或少于2张');
		return false;
	}	
	return true;
}

function showerr(id, errmsg) {
	$('#'+id).focus();
	showNotice(errmsg, 2.5);
}
function hideUploader(type) {
	$('#'+type+'UploadWrap').hide();
	$('#'+type+'file').css({width:0,height:0,overflow:'hidden'});
}
function showUploader(type) {
	$('#'+type+'UploadWrap').show();
	$('#'+type+'file').css({width:'auto',height:'auto',overflow:'visible'});
}
function init_uploader(type) {
	var type = typeof type == 'undefined' ? 'pic' : type.toLowerCase();
	if(!in_array(type,['pic','rar','ssf'])) {
		return;
	}
	try{$('#'+type+'file').uploadify('destroy')}catch(e){}
	$('#'+type+'UploadWrap').html(function(){
		var _html = '';
		_html += '<div id="'+type+'_queue"></div>';
		_html += '<input id="'+type+'file" name="'+type+'file" type="file" />';
		return _html;
	});
	showUploader(type);
	$('#'+type+'ViewWrap').hide().children('#'+type+'View').html('');
	$('#'+type+'file').uploadify({
		'method'			: 'POST',
		'formData'			: {'formhash':'<?php echo formhash();?>','uid':_getUser().uid,'type':type,'dosubmit':'true'},
		'preventCaching'	: true,
		'buttonImage'		: 'static/i/upload_n.png',
		'swf'				: 'static/i/uploadify.swf',
		'uploader'			: 'uploadify.php?inajax=1',
		'width'				: 168,
		'height'			: 47,
		'multi'				: true,
		'queueID'			: type+'_queue',
		'fileSizeLimit'		: type=='pic'?max_pic_size:(type=='rar'?max_rar_size:max_ssf_size),
		'fileTypeDesc'		: type=='pic'?'图片文件(.jpg .jpeg .gif .png)':(type=='rar'?'压缩包文件(.rar .zip)':'皮肤文件(.ssf)'),
		'fileTypeExts'		: type=='pic'?'*.jpg;*.jpeg;*.gif;*.png':(type=='rar'?'*.rar;*.zip':'*.ssf'),
		'queueSizeLimit'	: type=='pic'?2:1,
		'removeTimeout'		: 2,
		'overrideEvents'	: ['onDialogClose'],
		'onSelect'			: function(file) {
			if(_getUser().uid < 1) {
				$('#'+type+'file').uploadify('cancel');
				showLoginBox();
				return false;
			}
		},
		'onSelectError'		: function(file, errorCode) {
			if(errorCode == -130) {//INVALID_FILETYPE
				showNotice('文件类型不允许', 2);
			} else if(errorCode == -100) {//QUEUE_LIMIT_EXCEEDED
				showNotice('上传的文件数量太多', 2);
			} else if(errorCode == -110) {//FILE_EXCEEDS_SIZE_LIMIT
				showNotice('不能上传大小超过'+(type=='pic'?max_pic_size:(type=='rar'?max_rar_size:max_ssf_size))+'的文件', 2);
			} else if(errorCode == -120) {//ZERO_BYTE_FILE
				showNotice('不能上传空的文件', 2);
			} else {
				showNotice('加入文件队列失败', 2);
			}
			showUploader(type);
		},
		'onCancel'			: function(file) {showUploader(type)},
		'onUploadStart'		: function(file) {},
		'onUploadProgress'	: function(file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {},
		'onUploadError'		: function(file, errorCode, errorMsg, errorString) {},
		'onQueueComplete'	: function(queueData) {
			if(type == 'pic') {
				if(queueData.uploadsSuccessful >= 2) {
					hideUploader(type);
				}
			} else {
				hideUploader(type);
			}
		},
		'onUploadSuccess'	: function(file, data, response) {/* response:boolean*/
			//showNotice('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + data, 2);
			if(!response) {
				showUploader(type);
				showNotice('图片上传失败', 2);
				return
			}
			try{
				data = eval('(' + data + ')');
			} catch(e) {
				showUploader(type);
				showNotice('响应数据不正确', 2);
				return ;
			}
			if(data.status < 1) {
				showUploader(type);
				showNotice(data.message, 2);
				return ;
			}
			$('#'+type+'ViewWrap').show().children('#'+type+'View').html(function(){
				return $.trim($(this).html())+($.trim($(this).html())==''?'<span>':'<span>')+file.name+'</span><input type="hidden" name="'+(type=='pic'?'picurl[]':(type=='rar'?'rarfile':'ssffile'))+'" value="'+data.data+'"/>';
			});
		},
		'onUploadComplete'	: function(file) {
			if($.trim($('#'+type+'View').html())==''){init_uploader(type)}
		},
		'debug'				: false,
	});
}

function byteLength(sStr) {
	aMatch = sStr.match(/[^\x00-\x80]/g);
	return (sStr.length + (! aMatch ? 0 : aMatch.length));
}
</script>
</html>
