<?php include template(header);?>
		<div class="wrapper index_wrap">
			<div class="mainWrap">
				<div class="tit_wrap">
					<img src="static/i/alitit.png" class="imgwap"/>
				</div>
				<div class="wrap_show_box">
					<img src="static/i/alishowtit.png" class="imgblock" />
					<div class="show_hd">
						<ul class="show_hdul tab-hd">
							<a class="show_pc btn_tb" href="wapshow.php" onclick="MtaH5.clickStat('14')"></a>
							<a class="show_3g btn_tb active" href="javascript:void(0);" onclick="MtaH5.clickStat('15')"></a>
							<a class="show_pri btn_tb" href="prize.php" onclick="MtaH5.clickStat('16')"></a>
						</ul>
					</div>
					<div class="show_bd">
						<ul class="show_bdul tab-bd">
							<!--pc-->
							<?php 
								if($count < 1){
									echo "<div class=\"forward\"></div>";
								}
							?>
							<li <?php  if($count < 1)echo "style='display:none;'"; ?> >
								<ul class="show_pc_skin cl">
									<?php 
										foreach($content as $key=>$val){
											echo '<li><div class="show_pc_skinimg"><img src="'.$val['picThumb'].'" width="315" height="160" class="imgwap"/><div class="skinDloadWrap"><div class="skin_downbg"></div><div class="skin_downa"><a href="'.$val['dl'].'">点击下载</a></div></div></div><div class="show_skinall show_skinall show_pc_skincon cl"><span class="cname">'.iconv('GB2312','UTF8',$val['name']).'</span><span class="fr">by.'.iconv('GB2312','UTF8',$val['author']).'</span></div></li>';
										}
									?>

								</ul>
								<?php echo $pageinfo;?>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<?php include template(footer); ?>
		</div>		
	</body>
<style>
.pg{
   width: 1001px;
   bottom: 105px;
} 
</style>
<script>
	$(function(){
		
	});
</script>
</html>
