<?php if(!defined('IN_APP')) die('access denied');?>
<?php include template('header');?>
<div class="main_con">
	<div class="mian_box">
        <div class="dssj">
        	<div class="txtTitle1"><img src="static/i/dsgz/txtTitle1.png" /></div>
            <p>
            	<span>征集期 ：</span>2016年3月23日-4月24日<br />
                <span>作品评选期 ：</span>2016年4月25日-5月5日<br />
                <span>结果公布 ：</span>2016年5月6日
            </p>
        </div>
        <div class="jpsz">
        	<div class="txtTitle2"><img src="static/i/dsgz/txtTitle2.png" /></div>
            <p>
            	<span>一等奖（1名）：</span><b>¥19880</b>&nbsp;&nbsp;Wacom新帝移动电脑2代+20000元奖金<br />
                <span>二等奖（2名）：</span><b>¥7380</b>&nbsp;&nbsp;Wacom新帝13HD touch DTH-1300+5000元奖金<br />
                <span>三等奖（3名）：</span><b>¥1950</b>&nbsp;&nbsp;Wacom影拓Pro PTH-451+3000元奖金<br />
                <span>最佳体验奖（10名）：</span>1000元奖金<br />
                <span>参与奖（30名）：</span>500元奖金<br />
                <i>（*注：所有奖金均为税前金额，个人所得税由主办方代扣代缴。同一参赛者可有多组作品获奖。）</i>
            </p>
        </div>
        <div class="sjyq">
        	<div class="txtTitle3"><img src="static/i/dsgz/txtTitle3.png" /></div>
            <p>
                使用设计工具，搜狗输入法手机皮肤按钮，候选栏，拼音区，键盘背景，上划弹泡等元素进行设计；<br />
                作品需按照给定尺寸提供皮肤效果图两张，分别为9键和26键布局。<br />
                <span>(搜狗输入法官方交流QQ群：546363198)</span>
            </p>
        </div>
        <div class="pxbz">
        	<div class="txtTitle4"><img src="static/i/dsgz/txtTitle4.png" /></div>
            <p>
                创意：皮肤主题个性鲜明，风格独特，画风不限，视觉效果突出，动效酷炫（非必须）；<br />
                设计：风格统一，色彩搭配和谐，设计细节丰富；<br />
                易用性：键盘大小和按键位置不变，保证按键细节和字体清晰，不影响用户使用，输入方便。
            </p>
        </div>
        <div class="csxz">
        	<div class="txtTitle5"><img src="static/i/dsgz/txtTitle5.png" /></div>
            <div class="p_txt1">
                <p>
                    参赛者在提交作品前请确保已经阅读并且愿意遵守相关比赛规则，如有违反任何比赛规则，主办方有权取消其参赛资格；
                </p>
                <p>
                    同一用户名可上传多组不同参赛作品，同一作品提交多次以最终提交作品为准；
                </p>
                <p>
                    参赛作品应属于未曾在任何其他第三方平台上发布过的作品；且参赛者同意在参赛期间，不得擅自将参赛作品转让或授权给任何第三方，不得用参赛作品参与与本赛事相同或类似的其他活动，否则取消参赛资格；比赛结束后，被主办方收录的作品，参赛者不得提供给任何其他第三方或上传到搜狗输入法以外的其他任何平台；
                </p>
                <p>
                    所有参赛作品的知识产权归原作者所有。主办方对<span>收录的</span>参赛作品拥有永久使用权，包括但不限于收录作品至搜狗输入法皮肤库（含客户端和web端）、进行信息网络传播、制作搜狗输入法表情等以及对相应设计方案进行再设计、生产、展示、出版、等权益，主办方对衍生作品享有独立完整的知识产权；作品一经提交，即视为参赛者同意相关规定；
                </p>
                <p>
                    参赛者保证对其所提交作品具有完整知识产权，参赛者确保所提供作品的原创性，承诺所提供作品及参与本活动不存在违法、违规、或侵犯第三人合法权益的情况，否则因此产生的所有法律责任，由参赛者本人承担，给主办方造成损失的，主办方有权追偿；
                </p>
                <p>
                    作品内容必须符合国家法律法规的要求。
                </p>
            </div>
        </div>
        <div class="hjxz">
        	<div class="txtTitle6"><img src="static/i/dsgz/txtTitle6.png" /></div>
            <div class="p_txt2">
                <p>
                    获奖通知将在“最终结果公示后5个工作日内”通过邮件方式发送至获奖设计师参赛报名时预留的邮箱地址，请确认提供真实有效的联系方式；
                </p>
                <p>
                    获奖设计师请在3个工作日内回复获奖通知，并根据邮件内容，配合主办方完成获奖作品源文件收集、奖金奖品发放等工作；
                </p>
               	<p>
                	同一用户名可上传多组不同参赛作品。评选结果以作品为单位，即同一用户名可获得多个奖项；
                </p>
                <p>
                    若获奖设计师在限定时间内对获奖通知未做回应或提供相关源文件，则视为放弃奖项，由其他获奖者取代；
                </p>
                <p>
                    主办方不提供奖品转让手续办理服务，不对奖品提供折现服务，不对获奖者因个人行为的转让引起的纠纷而产生的民事或刑事责任负责。如果需要进行转让，需获奖者亲自办理；
                </p>
                <p>
                    主办方将在比赛结束后安排奖金发放事宜，所有奖金均为税前金额，相关税费由主办方代扣代缴；
                </p>
                <p>
                    主办方对本活动保留最终解释权。
                </p>
            </div>
        </div>
    </div>
</div><!--//.main_con-->
<script type="text/javascript">$(function(){setTimeout(function(){pb_count('page_rule')},250)});</script>
<?php include template('footer');?>