<?php include template(header);?>
		<div class="wrapper index_wrap">
			<div class="mainWrap">
				<div class="tit_wrap">
					<img src="static/i/alitit.png" class="imgwap"/>
				</div>
				<div class="wrap_img_box">
					<img src="static/i/ipart1.png" class="imgblock" />
					<div class="wrap_img_div">
						<ul class="img_skin_ul cl">
							<?php 
								foreach($content as $k=>$v){
									echo "<li onclick=\"MtaH5.clickStat('12')\"><img src={$v['url']} width='215' height='143'/> </li>";
								}
							?>
						</ul>
					</div>
					<?php echo $pageinfo;?>
				</div>
			</div>
			<!--图片放大-->
			<div class="img_skin_big">
				<a class="img_down btn_lr" onclick="MtaH5.clickStat('13')" target="_self" href="javascript:void(0);"> </a>
				<a class="img_close btn_lr"> </a>
				<div class="img_skin_bigimg">
					<img src="<?php echo $content[0]['url'] ?>" class="imgwap"/>
				</div>	
				<div class="wrap_awimgbox">
					<a class="imgulprev"></a>
					<a class="imgulnext"></a>
					<div class="imgul_box">
						<ul class="wrap_awimgul cl">
							<?php 
								foreach($content as $k=>$v){
									echo "<li><img src={$v['url']} width='130' height='85' name={$v['name']} p_type={$v['type']} /></li>";
								}
							?>
						</ul>
					</div>
				</div>
			</div>
			<?php include template(footer); ?>
		</div>
	</body>
	<script>
		<?php echo "var content=".json_encode($content).";"; ?>
		var first_li = $(".wrap_awimgul").children();

		$(function(){
			//调用图片浏览插件jCarouselLite
			t = $jq(".wrap_awimgbox .imgul_box").jCarouselLite({
				btnNext: ".wrap_awimgbox .imgulnext",
				btnPrev: ".wrap_awimgbox .imgulprev",
				start:0,
				btnGo: $jq('.img_skin_ul li'),
				visible:6,
				speed: 400,
				easing: "easeOutBack",
			});

			$('.img_skin_ul li').click(function(){
				$('.img_skin_big').addClass('disblock');
				var cur_index = $('.img_skin_ul').find('li').index($(this));
				$(".img_skin_bigimg img").attr("src",content[cur_index].url);
				//初始化下载地址
				$(".img_down").attr("href","img_attachment.php?i="+content[cur_index].dl_url+"&n="+content[cur_index].name+"&t="+content[cur_index].type);
				
				$jq(".wrap_awimgul img").on("click",function(){
					$(".img_skin_bigimg img").attr("src",$(this).attr("src"));
					$(".img_down").attr("href","img_attachment.php?i="+$(this).attr("src").replace(/s(\d{1,2}).jpg/,"b$1.jpg")+"&n="+$(this).attr("name")+"&t="+$(this).attr("p_type"));
					//$(".img_down").attr("href","img_attachment.php?i="+$(this).attr("src")+"&n="+$(this).attr("name")+"&t="+$(this).attr("p_type"));
				});
				//alert(cur_index);
			});
			$('.img_close').click(function(){
				//$(".wrap_awimgul").html(first_li);
				$('.img_skin_big').removeClass('disblock');
				$(".wrap_awimgul img").unbind();
			});
		})

	</script>
</html>
