<div class="subNav">
	<div class="subBtn">
		<ul>
			<li class="rumen"><a href="entry.php" onmousedown="javascript:pb_count('subnav_entry');"></a></li>
			<li class="naodong"><a href="brain.php" onmousedown="javascript:pb_count('subnav_brain');"></a></li>
			<li class="dongxiao"><a href="dynamic.php" onmousedown="javascript:pb_count('subnav_dynamic');"></a></li>
			<li class="authorShare"><a href="authorshare.php" onmousedown="javascript:pb_count('subnav_authorshare');"></a></li>
		</ul>
	 </div>
</div>