<?php if(!defined('IN_APP')) die('access denied');?>
<?php include template('header');?>
<script type="text/javascript" src="http://wap.dl.pinyin.sogou.com/wapdl/hole/201411/06/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://wap.dl.pinyin.sogou.com/wapdl/hole/201411/06/uploadify.css" />
<style type="text/css">
.uploadify-button {
	background-color: transparent;
	border: none;
}
.uploadify:hover .uploadify-button {
	background-color: #516290;
}
.picUploadWrap, .rarUploadWrap, .ssfUploadWrap {
	padding-top: 28px;
}
.uploadify-queue-item {
	margin-bottom: 28px;
}
p.regtip {
	padding: 0;
	font-size: 24px;
	color: #fff;
}
.regtip>a {
	color: yellow;
}
</style>
<div class="main_con">
    <div class="sczp_title">
        <div class="title_box">
            <a href="upload.php" class="uping"></a>
            <a href="gallery.php?view=me"  class="uped"></a>
        </div>
    </div>
    <div class="upMes_con">
		<form id="iform" method="post">
		<input type="hidden" name="dosubmit" value="true"/>
		<input type="hidden" name="formhash" value="<?php echo formhash();?>"/>
        <div class="author_title">
            <img src="static/i/sczp/tit1.png" />
            <span>[请认真填写个人资料，获奖公布将以此为准 ]</span>
        </div>
        <div class="author_mes">
			<?php if(!empty($reginfo)){?>
			<p class="regtip">您已填写报名信息，<a href="javascript:;" onclick="javascript:$(this).parent().hide().parent().append($('#reginfo'));$('#reginfo').show();">点此修改</a>。</p>
			<script type="text/javascript">$(function(){$('#reginfo').appendTo('body')});</script>
			<?php }?>
        	<table id="reginfo" style="<?php if(!empty($reginfo)){?>display:none<?php }?>">
                <tr>
                    <td class="txt"><span>昵 称</span></td>
                    <td><input id="nickname" name="nickname" class="input" type="text" value="<?php echo$reginfo['nickname'];?>" /></td>
                    <td class="txt myTxt"><span>Q Q</span></td>
                    <td><input id="qq" name="qq" class="input" type="text" value="<?php echo$reginfo['qq'];?>" /></td>
                </tr>
                <tr>
                    <td class="txt"><span>手 机</span></td>
                    <td><input id="telnumber" name="telnumber" class="input" type="text" value="<?php echo$reginfo['telnumber'];?>" /></td>
                    <td class="txt myTxt"><span>邮 箱</span></td>
                    <td><input id="email" name="email" class="input" type="text" value="<?php echo$reginfo['email'];?>"/></td>
                </tr>
				<tr>
					<td colspan="4"><p>（仅供主办方与您联系本次比赛事宜，不对第三方公开）</p></td>
				</tr>
            </table>
        </div>
        <div class="skin_title"><img src="static/i/sczp/tit2.png" /> </div>
        <div class="skin_mes">
        	<table>
                <tr>
                    <td class="txt"><span>名 称</span></td>
                    <td><input type="text" id="skin_name" name="skin_name" value="限定在20个字符（10个字）以内" /></td>
                </tr>
                <tr>
                    <td class="txt"><span>简 称</span></td>
                    <td><input type="text" id="short_name" name="short_name" value="限定在8个字符（4个字）以内" /></td>
                </tr>
                <tr>
                    <td class="txt oTxt"><span>介 绍</span></td>
                    <td><textarea id="intro" name="intro" cols="50" rows="5">如：设计理念，创意点等，限定在140个字符（70个汉字）以内</textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="up_title"><img src="static/i/sczp/tit3.png" /></div>
        <div class="upImg">
        	<ul class="cl">
            	<li>
                	<h3><span>*</span>皮肤效果图</h3>
                    <p>（按照给定尺寸，两张，分别为键盘9键和26键布局，每张不超过3MB<br/>尺寸均为：宽度1080px，高度881px）</p>
					<div id="picUploadWrap" class="picUploadWrap"></div>
                    <div id="picViewWrap" class="upRight">
                        <div class="imgBg"><img src="static/i/sczp/rightBg.png" /></div>
                        <h4><img src="static/i/sczp/tick.png" /><span>上传成功</span></h4>
                        <div id="picView" class="myP"></div>
                        <a href="javascript:;" onclick="init_uploader('pic');"><img src="static/i/sczp/del.png" /></a>
                    </div>
                </li>
            	<li>
                	<h3>音效<i>[非必须]</i></h3>
                    <p>（音效文件格式为.WAV，打包后为.RAR或.ZIP上传，不超过5MB）<br/>&nbsp;</p>
                    <div id="rarUploadWrap" class="rarUploadWrap"></div>
                    <div id="rarViewWrap" class="upRight">
                        <div class="imgBg"><img src="static/i/sczp/rightBg.png" /></div>
                        <h4><img src="static/i/sczp/tick.png" /><span>上传成功</span></h4>
                        <div id="rarView" class="myP"></div>
                        <a href="javascript:;" onclick="init_uploader('rar');"><img src="static/i/sczp/del.png" /></a>
                    </div>
                </li>
            	<li class="lastLi">
                	<h3>皮肤包<i>[非必须]</i></h3>
                    <p>（皮肤包文件格式为.SSF，不超过5MB）<br/>&nbsp;</p>
                    <div id="ssfUploadWrap" class="ssfUploadWrap"></div>
                    <div id="ssfViewWrap" class="upRight">
                        <div class="imgBg"><img src="static/i/sczp/rightBg.png" /></div>
                        <h4><img src="static/i/sczp/tick.png" /><span>上传成功</span></h4>
                        <div id="ssfView" class="myP"></div>
                        <a href="javascript:;" onclick="init_uploader('ssf');"><img src="static/i/sczp/del.png" /></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="submit">
            <div class="checkBox">
                <label for="checkBoxInput"><input name="autolog" type="checkbox" value="1" id="checkBoxInput" /></label>
                <span>我已同意大赛规则等所有条款</span>
            </div>
			<button type="submit" id="submitbtn" class="submitBtn"><img src="static/i/sczp/submit.png" /></button>
        </div>
		</form>
	</div>
</div><!--//.main_con-->
<script type="text/javascript">
var max_pic_size = '<?php echo str_replace(' ', '', formatsize(MAX_PIC_SIZE));?>';
var max_rar_size = '<?php echo str_replace(' ', '', formatsize(MAX_RAR_SIZE));?>';
var max_ssf_size = '<?php echo str_replace(' ', '', formatsize(MAX_SSF_SIZE));?>';
$(function(){
	if(_getUser().uid < 1){showLoginBox()}
	$('#skin_name').DefaultValue();
	$('#short_name').DefaultValue();
	$('#intro').DefaultValue();
	init_uploader('pic');
	init_uploader('rar');
	init_uploader('ssf');
	$('#iform').ajaxForm({
		dataType: 'json',
		beforeSubmit: function() {
			if($('#submitbtn').attr('disabled') || !check_form()) {
				return false;
			}
			$('#submitbtn').attr('disabled', true);
			$('#ajaxwaitid').show();
			showwaiting('ajaxwaitid');
		},
		complete: function(XMLHttpRequest, status) {
			$('#submitbtn').attr('disabled', false);
			$('#ajaxwaitid').hide();
			clearwaiting('ajaxwaitid');
			if(status == 'timeout') {
				XMLHttpRequest.abort();
				showNotice('请求超时。');
			}
		},
		success: function(resp) {
			if(typeof resp != 'object') {
				try{
					resp = JSON.parse(resp);
				} catch(e) {
					showNotice('响应失败');
					return;
				}
			}
			if(resp.status == 2) {
				showLoginBox();
				return;
			} else {
				showNotice(resp.message, 1.5);
				if(resp.status > 0) {//save success
					setTimeout(function(){window.location.href='gallery.php?view=me'},1550)
					return;
				}
			}
		},
		error:function() {
			showNotice('响应失败。');
		}
	});
});
function check_form() {
	if(_getUser().uid < 1) {
		showLoginBox();
		return false;
	}
	if($('#submitbtn').attr('disabled')) {
		return false;
	}
	var nickname = $.trim($('#nickname').val());
	var qq = $.trim($('#qq').val());
	var telnumber = $.trim($('#telnumber').val());
	var email = $.trim($('#email').val());
	var skin_name = $.trim($('#skin_name').val());
	var short_name = $.trim($('#short_name').val());
	var intro = $.trim($('#intro').val());
	
	if($('#nickname').length > 0) {
		if(nickname.length < 1) {
			$('#nickname').focus();
			showerr('nickname', '没有填写昵称');
			return false;
		}
	}
	if($('#qq').length > 0) {
		if(qq.length < 1) {
			$('#qq').focus();
			showerr('qq', '没有填写qq');
			return false;
		}
		if(!/\d+/i.test(qq)) {
			$('#qq').focus();
			showerr('qq', 'qq号码应由数字组成');
			return false;
		}
	}
	if($('#telnumber').length > 0) {
		if(telnumber.length < 1) {
			$('#telnumber').focus();
			showerr('telnumber', '没有填写手机');
			return false;
		}
		if(!/\d{11}/i.test(telnumber)) {
			$('#telnumber').focus();
			showerr('telnumber', '手机格式不正确，应由11位数字组成');
			return false;
		}
	}
	if($('#email').length > 0) {
		if(email.length < 1) {
			$('#email').focus();
			showerr('email', '没有填写邮箱');
			return false;
		}
		if(!/^([A-Za-z0-9\-_.+]+)@([A-Za-z0-9\-]+[.][A-Za-z0-9\-.]+)$/.test(email)) {
			$('#email').focus();
			showerr('email', '邮箱格式不正确');
			return false;
		}
	}
	
	if(byteLength(skin_name) < 1 || byteLength(skin_name) > 20) {
		$('#skin_name').focus();
		showerr('skin_name', '没有填写皮肤名称或超过20个字符');
		return false;
	}
	
	if(byteLength(short_name) < 1 || byteLength(short_name) > 8) {
		showerr('short_name', '没有填写皮肤简称或超过8个字符');
		return false;
	}
	if(byteLength(intro) < 1 || byteLength(intro) > 140) {
		showerr('intro', '没有填写皮肤介绍或超过140个字符');
		return false;
	}
	
	if($('input[name="picurl[]"]').length < 2) {
		showerr('picfile', '没有上传皮肤效果图或少于2张');
		return false;
	}
	
	if(!$('#checkBoxInput').attr('checked')) {
		showerr('checkBoxInput', '请先同意大赛规则等所有条款');
		return false;
	}
	
	return true;
}

function showerr(id, errmsg) {
	$('#'+id).focus();
	showNotice(errmsg, 2.5);
}
function hideUploader(type) {
	$('#'+type+'UploadWrap').hide();
	$('#'+type+'file').css({width:0,height:0,overflow:'hidden'});
}
function showUploader(type) {
	$('#'+type+'UploadWrap').show();
	$('#'+type+'file').css({width:'auto',height:'auto',overflow:'visible'});
}
function init_uploader(type) {
	var type = typeof type == 'undefined' ? 'pic' : type.toLowerCase();
	if(!in_array(type,['pic','rar','ssf'])) {
		return;
	}
	try{$('#'+type+'file').uploadify('destroy')}catch(e){}
	$('#'+type+'UploadWrap').html(function(){
		var _html = '';
		_html += '<div id="'+type+'_queue"></div>';
		_html += '<input id="'+type+'file" name="'+type+'file" type="file" />';
		return _html;
	});
	showUploader(type);
	$('#'+type+'ViewWrap').hide().children('#'+type+'View').html('');
	$('#'+type+'file').uploadify({
		'method'			: 'POST',
		'formData'			: {'formhash':'<?php echo formhash();?>','uid':_getUser().uid,'type':type,'dosubmit':'true'},
		'preventCaching'	: true,
		'buttonImage'		: 'static/i/sczp/upfile.png',
		'swf'				: 'static/i/uploadify.swf',
		'uploader'			: 'uploadify.php?inajax=1',
		'width'				: 238,
		'height'			: 59,
		'multi'				: true,
		'queueID'			: type+'_queue',
		'fileSizeLimit'		: type=='pic'?max_pic_size:(type=='rar'?max_rar_size:max_ssf_size),
		'fileTypeDesc'		: type=='pic'?'图片文件(.jpg .jpeg .gif .png)':(type=='rar'?'压缩包文件(.rar .zip)':'皮肤文件(.ssf)'),
		'fileTypeExts'		: type=='pic'?'*.jpg;*.jpeg;*.gif;*.png':(type=='rar'?'*.rar;*.zip':'*.ssf'),
		'queueSizeLimit'	: type=='pic'?2:1,
		'removeTimeout'		: 2,
		'overrideEvents'	: ['onDialogClose'],
		'onSelect'			: function(file) {
			if(_getUser().uid < 1) {
				$('#'+type+'file').uploadify('cancel');
				showLoginBox();
				return false;
			}
		},
		'onSelectError'		: function(file, errorCode) {
			if(errorCode == -130) {//INVALID_FILETYPE
				showNotice('文件类型不允许', 2);
			} else if(errorCode == -100) {//QUEUE_LIMIT_EXCEEDED
				showNotice('上传的文件数量太多', 2);
			} else if(errorCode == -110) {//FILE_EXCEEDS_SIZE_LIMIT
				showNotice('不能上传大小超过'+(type=='pic'?max_pic_size:(type=='rar'?max_rar_size:max_ssf_size))+'的文件', 2);
			} else if(errorCode == -120) {//ZERO_BYTE_FILE
				showNotice('不能上传空的文件', 2);
			} else {
				showNotice('加入文件队列失败', 2);
			}
			showUploader(type);
		},
		'onCancel'			: function(file) {showUploader(type)},
		'onUploadStart'		: function(file) {},
		'onUploadProgress'	: function(file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {},
		'onUploadError'		: function(file, errorCode, errorMsg, errorString) {},
		'onQueueComplete'	: function(queueData) {
			if(type == 'pic') {
				if(queueData.uploadsSuccessful >= 2) {
					hideUploader(type);
				}
			} else {
				hideUploader(type);
			}
		},
		'onUploadSuccess'	: function(file, data, response) {/* response:boolean*/
			//showNotice('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + data, 2);
			if(!response) {
				showUploader(type);
				showNotice('图片上传失败', 2);
				return
			}
			try{
				data = eval('(' + data + ')');
			} catch(e) {
				showUploader(type);
				showNotice('响应数据不正确', 2);
				return ;
			}
			if(data.status < 1) {
				showUploader(type);
				showNotice(data.message, 2);
				return ;
			}
			$('#'+type+'ViewWrap').show().children('#'+type+'View').html(function(){
				return $.trim($(this).html())+($.trim($(this).html())==''?'':'<br/>')+file.name+'<input type="hidden" name="'+(type=='pic'?'picurl[]':(type=='rar'?'rarfile':'ssffile'))+'" value="'+data.data+'"/>';
			});
		},
		'onUploadComplete'	: function(file) {
			if($.trim($('#'+type+'View').html())==''){init_uploader(type)}
		},
		'debug'				: false,
	});
}
function byteLength(sStr) {
	aMatch = sStr.match(/[^\x00-\x80]/g);
	return (sStr.length + (! aMatch ? 0 : aMatch.length));
}
</script>
<script type="text/javascript">$(function(){setTimeout(function(){pb_count('page_upload')},250)});</script>
<?php include template('footer');?>