<?php include template('header'); ?>
<script type="text/javascript" src="static/j/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/c/uploadify.css?t=123" />
	<body>
		<div class="wrapper index_wrap">
			<div class="bg_head"></div>
			<div class="mainWrap">
				<div class="bannertit">
					<div class="phold phold55"></div>
					<img src="static/i/images/bannertit.png" />
					<div class="phold phold30"></div>
					<div class="cl abtn_wrap">
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active1"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active2"></a>
						</div>
						<div class="abtn_box">
							<a class="a_btn abtn_active abtn_active3"></a>
						</div>
					</div>
				</div>
				<div class="phold phold30"></div>
				<!--内容区-->
				<div class="con_wrap">
					<div class="phold phold20"></div>
					<img src="static/i/images/font_upskin.png" class="imgblock" />
					<form action="" method="post" id="iform">
						<input type="hidden" name="dosubmit" value="true">
						<input type="hidden" name="formhash" value="<?php echo formhash();?>">
						<div class="phold phold30"></div>
						<div class="form_wrap">
							<div class="form_box">
								<form>
									<div class="phold phold20"></div>
									<div class="form_tit">个人信息：</div>
									<div class="phold phold25"></div>
									<div class="form_con cl">
										<div class="form_infor fl">
											昵称：
										</div>
										<div class="form_input fl">
											<input class="input_text" id="nickname" name="nickname"  value=""/>
										</div>
									</div>
									<div class="form_con cl">
										<div class="form_infor fl">
											手机：
										</div>
										<div class="form_input fl">
											<input class="input_text" id="telnumber" name="telnumber" value="" />
										</div>
									</div>
									<div class="form_con cl">
										<div class="form_infor fl">
											QQ：
										</div>
										<div class="form_input fl">
											<input class="input_text" id="qq" name="qq" value="" />
										</div>
									</div>
									<div class="form_con cl">
										<div class="form_infor fl">
											邮箱：
										</div>
										<div class="form_input fl">
											<input class="input_text" id="email" name="email" value="" />
										</div>
									</div>
									<div class="phold phold25"></div>
									<div class="form_tit">皮肤信息：</div>
									<div class="phold phold25"></div>
									<div class="form_con cl">
										<div class="form_infor fl">
											名称：
										</div>
										<div class="form_input fl">
											<input class="input_text" id="skin_name" name="skin_name" placeholder="限定在20字符（10个汉字）以内" />
										</div>
									</div>
									<div class="form_con cl">
										<div class="form_infor fl">
											简称：
										</div>
										<div class="form_input fl">
											<input class="input_text" id="short_name" name="short_name" placeholder="限定在10字符（5个汉字）以内"/>
										</div>
									</div>
									<div class="form_con cl">
										<div class="form_infor fl">
											上传：
										</div>
										<div class="form_input fl">
											<p class="form_p1">宽度1080px，高度881px，每张不超过3MB</p>
											<div class="cl">
												<div class="add_file_box" id="add_file_box1">
													<div id="picUploadWrap1" class="picUploadWrap"></div>
													<div id="picViewWrap1">
														<img id="picurl1" class="showpic" src="" >
														<span class="success1">上传成功！</span>
														<div id="picView1" class="picView">
															<span>文件名xxxxxxxxxxx.png</span>
														</div>
														<div class="delete" ><img src="static/i/delete.png" onclick="init_uploader('pic',1);"/></div>
													</div>
													<p class="p_file">上传九键皮肤文件</p>
												</div>
												<div class="add_file_box" id="add_file_box2">
													<div id="picUploadWrap2" class="picUploadWrap"></div>
													<div id="picViewWrap2">
														<img id="picurl2" class="showpic" src="" >
														<span class="success2">上传成功！</span>
														<div id="picView2" class="picView">
															<span>文件名xxxxxxxxxxx.png</span>
														</div>
														<div class="delete" ><img src="static/i/delete.png" onclick="init_uploader('pic',2);"/></div>
													</div>
													<p class="p_file">上传二十六键皮肤文件</p>
												</div>
											</div>
										</div>
									</div>
								
							</div>
						</div>
						<div class="phold phold40"></div>
						<div class="cl form_btn_box">
							<a class="a_btn a_btn_backindex fl"></a>
							<input type="submit"  class="a_btn a_btn_sub fr" value=""/>
						</div>
					</form>
				</div>
				<!--copybottom-->
				<?php include template('footer');?>
			</div>
		</div>
	</body>
<script>
var max_pic_size = '<?php echo str_replace(' ', '', formatsize(MAX_PIC_SIZE));?>';

$(function(){
	$('.activeguifan').click(function(){
		$('#activeguize').addClass('disblock');
	});
	$('.close').click(function(){
		$('.maskbox').removeClass('disblock');
	});
	$('.up3g').click(function(){
		if(_getUser().uid >= 1){
			$('#maskup3g').addClass('disblock');
		}else{
			showLoginBox();
		}
	});

	//初始化uploadify
	$('#skin_name').DefaultValue();
	$('#short_name').DefaultValue();
	init_uploader('pic',1);
	init_uploader('pic',2);

	//提交表单内容
	$('#iform').ajaxForm({
		dataType: 'json',
		beforeSubmit: function() {
			if($('#submitbtn').attr('disabled') || !check_form()) {
				return false;
			}
			$('#submitbtn').attr('disabled', true);
			$('#ajaxwaitid').show();
			showwaiting('ajaxwaitid');
		},
		complete: function(XMLHttpRequest, status) {
			$('#submitbtn').attr('disabled', false);
			$('#ajaxwaitid').hide();
			clearwaiting('ajaxwaitid');
			if(status == 'timeout') {
				XMLHttpRequest.abort();
				showNotice('请求超时。');
			}
		},
		success: function(resp) {
			if(typeof resp != 'object') {
				try{
					resp = JSON.parse(resp);
				} catch(e) {
					showNotice('响应失败');
					return;
				}
			}
			if(resp.status == 2) {
				showLoginBox();
				return;
			} else {
				showNotice(resp.message, 1.5);
				if(resp.status > 0) {//save success
					setTimeout(function(){window.location.href='index.php'},1550)
					return;
				}
			}
		},
		error:function() {
			showNotice('响应失败。');
		}
	});
});
//检测表单输入
function check_form() {
	if(_getUser().uid < 1) {
//		showLoginBox();
//		return false;
	}
	if($('#submitbtn').attr('disabled')) {
		return false;
	}
	var nickname = $.trim($('#nickname').val());
	var qq = $.trim($('#qq').val());
	var telnumber = $.trim($('#telnumber').val());
	var email = $.trim($('#email').val());
	var skin_name = $.trim($('#skin_name').val());
	var short_name = $.trim($('#short_name').val());

	if($('#nickname').length > 0) {
		if(nickname.length < 1) {
			$('#nickname').focus();
			showerr('nickname', '没有填写昵称');
			return false;
		}
	}
	if($('#telnumber').length > 0) {
		if(telnumber.length < 1) {
			$('#telnumber').focus();
			showerr('telnumber', '没有填写手机');
			return false;
		}
		if(!/^1[34578]\d{9}$/i.test(telnumber)) {
			$('#telnumber').focus();
			showerr('telnumber', '手机格式不正确，请填写正确的手机号');
			return false;
		}
	}
	if($('#qq').length > 0) {
		if(qq.length < 1) {
			$('#qq').focus();
			showerr('qq', '没有填写qq');
			return false;
		}
		if(!/^[0-9]+$/i.test(qq)) {
			$('#qq').focus();
			showerr('qq', 'qq号码应由数字组成');
			return false;
		}
	}

	if($('#email').length > 0) {
		if(email.length < 1) {
			$('#email').focus();
			showerr('email', '没有填写邮箱');
			return false;
		}
		if(!/^([A-Za-z0-9\-_.+]+)@([A-Za-z0-9\-]+[.][A-Za-z0-9\-.]+)$/.test(email)) {
			$('#email').focus();
			showerr('email', '邮箱格式不正确');
			return false;
		}
	}

	if(byteLength(skin_name) < 1 || byteLength(skin_name) > 20) {
		$('#skin_name').focus();
		showerr('skin_name', '没有填写皮肤名称或超过20个字符');
		return false;
	}

	if(byteLength(short_name) < 1 || byteLength(short_name) > 10) {
		showerr('short_name', '没有填写皮肤简称或超过5个字符');
		return false;
	}

	if($('input[name="picurl[]"]').length < 2) {
		showerr('picfile', '没有上传皮肤效果图或少于2张');
		return false;
	}
	return true;
}

function showerr(id, errmsg) {
	$('#'+id).focus();
	showNotice(errmsg, 62.5);
}
function hideUploader(type,id) {
	$('#'+type+'UploadWrap'+id).hide();
	$('#'+type+'file'+id).css({width:0,height:0,overflow:'hidden'});
}
function showUploader(type,id) {
	$('#'+type+'UploadWrap'+id).show();
	$('#'+type+'file'+id).css({width:'auto',height:'auto',overflow:'visible'});
}
function init_uploader(type,id) {
	var type = typeof type == 'undefined' ? 'pic' : type.toLowerCase();
	if(!in_array(type,['pic','rar','ssf'])) {
		return;
	}
	try{$('#'+type+'file'+id).uploadify('destroy')}catch(e){}
	$('#'+type+'UploadWrap'+id).html(function(){
		var _html = '';
		_html += '<div id="'+type+'_queue'+id+'"></div>';
		_html += '<input id="'+type+'file'+id+'" name="'+type+'file'+id+'" type="file" />';
		return _html;
	});
	showUploader(type,id);
	$('#'+type+'ViewWrap'+id).hide().children('#'+type+'View'+id).html('');
	$('#'+type+'file'+id).uploadify({
		'method'			: 'POST',
		'formData'			: {'formhash':'<?php echo formhash();?>','uid':_getUser().uid,'type':type,'dosubmit':'true'},
		'preventCaching'	: true,
		'buttonImage'		: 'static/i/images/add.png',
		'swf'				: 'static/i/uploadify.swf',
		'uploader'			: 'uploadify.php?inajax=1',
		'width'				: 196,
		'height'			: 159,
		'multi'				: true,
		'queueID'			: type+'_queue',
		'fileSizeLimit'		: type=='pic'?max_pic_size:(type=='rar'?max_rar_size:max_ssf_size),
		'fileTypeDesc'		: type=='pic'?'图片文件(.jpg .jpeg .gif .png)':(type=='rar'?'压缩包文件(.rar .zip)':'皮肤文件(.ssf)'),
		'fileTypeExts'		: type=='pic'?'*.jpg;*.jpeg;*.gif;*.png':(type=='rar'?'*.rar;*.zip':'*.ssf'),
		'queueSizeLimit'	: type=='pic'?2:1,
		'removeTimeout'		: 2,
		'overrideEvents'	: ['onDialogClose'],
		'buttonText'        : '',
		'onSelect'			: function(file) {
//			if(_getUser().uid < 1) {
//				$('#'+type+'file').uploadify('cancel');
//				showLoginBox();
//				return false;
//			}
		},
		'onSelectError'		: function(file, errorCode) {
			if(errorCode == -130) {//INVALID_FILETYPE
				showNotice('文件类型不允许', 2);
			} else if(errorCode == -100) {//QUEUE_LIMIT_EXCEEDED
				showNotice('上传的文件数量太多', 2);
			} else if(errorCode == -110) {//FILE_EXCEEDS_SIZE_LIMIT
				showNotice('不能上传大小超过'+(type=='pic'?max_pic_size:(type=='rar'?max_rar_size:max_ssf_size))+'的文件', 2);
			} else if(errorCode == -120) {//ZERO_BYTE_FILE
				showNotice('不能上传空的文件', 2);
			} else {
				showNotice('加入文件队列失败', 2);
			}
			showUploader(type,id);
		},
		'onCancel'			: function(file) {showUploader(type,id)},
		'onUploadStart'		: function(file) {},
		'onUploadProgress'	: function(file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {},
		'onUploadError'		: function(file, errorCode, errorMsg, errorString) {},
		'onQueueComplete'	: function(queueData) {
			if(type == 'pic') {
				if(queueData.uploadsSuccessful >= 2) {
					hideUploader(type,id);
				}
			} else {
				hideUploader(type,id);
			}
		},
		'onUploadSuccess'	: function(file, data, response) {/* response:boolean*/
			//showNotice('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + data, 2);
			if(!response) {
				showUploader(type,id);
				showNotice('图片上传失败', 2);
				return
			}
			try{
				data = eval('(' + data + ')');
			} catch(e) {
				showUploader(type,id);
				showNotice('响应数据不正确', 2);
				return ;
			}
			if(data.status < 1) {
				showUploader(type,id);
				showNotice(data.message, 2);
				return ;
			}
			$("#"+type+"UploadWrap"+id).hide();
			$('#picurl'+id).attr('src','data/'+data.data);
			$('#'+type+'ViewWrap'+id).show().children('#'+type+'View'+id).html(function(){
				return $.trim($(this).html())+('<span>')+file.name+'</span><input type="hidden" name="'+(type=='pic'?'picurl[]':(type=='rar'?'rarfile':'ssffile'))+'" value="'+data.data+'"/>';
			});
		},
		'onUploadComplete'	: function(file) {
			if($.trim($('#'+type+'View'+id).html())==''){init_uploader(type,id)}
		},
		'debug'				: false,
	});
}

function byteLength(sStr) {
	aMatch = sStr.match(/[^\x00-\x80]/g);
	return (sStr.length + (! aMatch ? 0 : aMatch.length));
}
</script>
</html>
